[2016-02-23 17:25] mfunk opened #5 "Input Surface will only accept Raster Layer inputs, not Mosaics"
Currently the _LLOS_ tool's **Input Surface** only accepts a Raster Layer representing a Raster Dataset. It does not recognize Mosaic Datasets or Image Services.

Basically I used the source data and mosaic from the MilitaryAnalyst-Geoprocessing-Toolbox, as well as the Environment/D_DigitalTerrainModel from AFMCLOUD.

1) Add the ElevationSurface mosaic, n36.dt2 (DTED dataset), and Environment/D_Di

[2016-02-25 15:04] pshowalter opened #8 "README - add screen capture for LLOS"
- add screen capture for LLOS

[2016-02-25 15:07] pshowalter opened #9 "README - add/edit workflow to indicate one-to-many and many-to-many is possible"
- add/edit workflow to indicate one-to-many is possible
- add/edit workflow to indicate many-to-many is possible

[2016-02-25 15:24] pshowalter opened #10 "LLOS - Input Surface - defaults to top layer in TOC after setting and running"
Can the **Input Surface** be maintained while using the tool several times?  Currently it in defaults to the top raster layer in ArcMap TOC.  The test  case has an elevation MDS - "ElevationSurface", and "ShadedRelief Image" on top.  The second time running tool, requires user to set the **Input Surface** back to "ElevationSurface", else it runs with "ShadedRelief_Image" producing all red lines.

[2016-02-25 17:49] #5 closed, assigned to nobody

[2016-02-25 18:00] mfunk opened #12 "Not sure where LLOS says if target is visible"
When I run LLOS I get the resulting red/green surface line, but I have no indication if the target is visible or if it is not. Here's an example. I start with the following:

![image](https://cloud.githubusercontent.com/assets/3093182/13328749/5193487e-dba5-11e5-9687-b462b3001d6b.png)

When I click **OK** it gives me the line:

![image](https://cloud.githubusercontent.com/assets/3093182/13328773/6

[2016-02-25 19:36] pshowalter opened #14 "RLOS with MDS - ArcMap crash"
My first three tries with the new RLOS have crashed ArcMap.

I was using MDS from the MAtestData.gdb "ElevationSurface" ; used tool defaults or slight change in Horizontal field of View [90 - 110].

The tool will run with the old ElevationSurface (Jalalabad aoi) raster.

[2016-02-25 20:09] pshowalter opened #15 "Enhancement: RLOS/LLOS - would be nice to have scroll bar to get to Observer options when docked."
Enhancement: RLOS/LLOS - would be nice to have scroll bar to get to Observer options when docked.

[2016-02-25 20:56] pshowalter opened #16 "RLOS - If neither of 3D or Spatial Analyst extension enabled - ArcMap will crash when using tool."
RLOS - If neither of 3D or Spatial Analyst extension enabled - ArcMap will crash when using tool, after clicking Ok.  This was using an Advanced - Single use license.

[2016-02-25 21:29] pshowalter opened #17 "RLOS - if result of previous run's temp raster is not available, clicking the RLOS tab will cause crash"
Have run the RLOS and saved the MXD.
Later, opened the MXD, and the result raster from previous run is shown in TOC as a broken link to the data.
Clicking on the RLOS tab in Visibility Window resuls in a crash.
![image](https://cloud.githubusercontent.com/assets/6842145/13334981/bc7eee86-dbdc-11e5-9307-07cf82cb774d.png)

[2016-02-26 14:33] #8 closed, assigned to nobody

[2016-02-26 14:34] #9 closed, assigned to nobody

[2016-03-07 17:37] mfunk opened #19 "Make RLOS observer point symbol"
Traditionally, the RLOS result colors are green for visible and red for not-visible. However the current observer point color is green, and could be easily lost in a visible area. We should distinguish it better by using a different color. **Blue** would be a good choice.

[2016-03-07 22:50] mfunk opened #20 "RLOS - crashes with Mosaic Dataset as input surface"
RLOS tool is crashing ArcMap when input surface is a Mosaic Dataset. I'm using the _ElevationSurface_ mosaic from the _MilitaryAnalyst-Geoprocessing-Toolbox\testdata_.

[MilitaryAnalyst-Geoprocessing-Toolbox](https://github.com/ArcGIS/MilitaryAnalyst-Geoprocessing-Toolbox)

1) Open Visibility tools
2) Select **RLOS** tab
3) **Input Surface** select _ElevationSurface_
4) Use **Map Point Tool** to s

[2016-03-07 22:59] mfunk opened #21 "RLOS errors with Image Service as input surface"
RLOS tool is giving an error message when the input surface is an Image Service added to the map as an image service layer. For the test I'm using _Environment\D_DigitalTerrainModel_ under _http://afmcloud.esri.com/arcgis/services/Environment/D_DigitalTerrainModel/ImageServer_.

1) Open **Visibility** tools
2) Select **RLOS** tab
3) **Input Surface** select _Elevation\D_DigitalTerrianModel_
4) Use

[2016-03-08 14:07] #15 closed, assigned to nobody

[2016-03-08 14:13] #10 closed, assigned to nobody

[2016-03-08 14:43] #14 closed, assigned to nobody

[2016-03-09 17:09] lfunkhouser opened #25 "Issue - to transfer to another repo to copy labels"
_From @lfunkhouser on March 9, 2016 17:6_

transferring labels to another repo

_Copied from original issue: ArcGIS/solutions-desktop-templates#247_

[2016-03-09 17:10] #25 closed, assigned to lfunkhouser

[2016-03-09 18:08] nfeuerstein opened #26 "Can this repo be made public?"
This repo is 'private' so very few people have access to it, can it be shared in the same manner as coordinate conversion?  https://github.com/Esri/coordinate-conversion-addin-dotnet

[2016-03-09 23:31] topowright-zz opened #30 "Updates to UI based on first look"
The following items need to be addressed for the user interface:
- [x] Tool Tips for the LLOS tab
- [x] Tool Tips for the RLOS tab

LLOS Tab
- [x] Add text box around Observer and Target with the topics Offset
- [x] Remove the offset text from both Observer and Target
- [x] Buttons "Cancel" "OK" "Clear Graphics" should not be available until graphics or information has been updated.
  RLOS Tab
- [

[2016-03-10 16:54] #12 closed, assigned to mfunk

[2016-03-10 17:11] mfunk opened #31 "LLOS crashing with Geographic WGS 1984 surface"
Trying to run **Linear Line of Sight** AddIn tool on a geographic surface, but it is crashing ArcMap consistently.
1. Install the _Visibility_ AddIn
2. Open _ArcMap_
3. Add basemap, and _n36.dt2_
4. Add _Visibility Add-In_ to toolbar
5. Launch _Visibility_ tool
6. Set **Input Surface** to n36.dt2
7. Select single _Observer Point_, and single **Target Point**
8. Click **OK**
   ... ArcMap works for

[2016-03-10 17:33] mfunk opened #32 "Incorrect results with projected DTED"
So i'm working with a projected DTED from issue #31. This was in Geographic WGS 1984, but is now in California State Plane Feet. The **LLOS** tool is running, and producing some results, but they are not correct. The lines are ALWAYS visible. The below graphic shows results from several runs on the surface, many of which have a LOT of intervening elevation changes that are much greater than the de

[2016-03-10 18:57] pshowalter opened #33 "RLOS - ArcMap hangs when using single dted file (SRTM 30)"
RLOS - ArcMap hangs when using a single dted file as elevation source (SRTM 30).  Have not projected data or data frame; added n36.dt2.  Set the .dt2 as Input Surface, add 2 Observers, click OK, and ArcMap/RLOS does not complete, though PC continues to work hard, as if a runaway process has occurred.  ArcMap is not using Background Processing.

![image](https://cloud.githubusercontent.com/assets/6

[2016-03-10 19:08] pshowalter opened #34 "RLOS - may have processing artifacts with some elevation data"
These appear to be Processing Artifacts.
Noted bands, and isolated cells in results when using elevation data set "ElevationSurface" obtained from VisibilityandRange.gdb.  Have **not** seen this when using the MDS from MATestData.gdb
![image](https://cloud.githubusercontent.com/assets/6842145/13680898/a739734c-e6c8-11e5-9c39-7859f49418f9.png)

![image](https://cloud.githubusercontent.com/assets/68

[2016-03-10 20:23] #34 closed, assigned to nobody

[2016-03-11 15:08] #33 closed, assigned to nobody

[2016-03-11 15:21] pshowalter opened #36 "Enhancement Request: RLOS tool should not be enabled to run with unprojected data."
Enhancement Request: disable the OK button and show red X on tool that source input surface is not projected, similar to other GP tools that indicate input is invalid.

As pointed out in a previous issue, https://github.com/ArcGIS/visibility-addin-dotnet/issues/33, a requirement of the RLOS is that source data be projected.
In some cases, data available to potential users will be GCS_WGS84.

[2016-03-11 17:50] #17 closed, assigned to nobody

[2016-03-11 18:51] #16 closed, assigned to nobody

[2016-03-11 18:52] pshowalter opened #38 "LLOS and RLOS on machine with no 3D or Spatial license."
@jmccausland
On a machine with Desktop Advanced, NO Extensions.
LLOS works - not sure how, all the doc I have read indicates 3D is required?
RLOS - produces message box:
**Calculation cancelled.**
**Results not calculated. Check input parameters, and try again.**
Is this expected result of not finding a 3D or Spatial license?**

![image](https://cloud.githubusercontent.com/assets/6842145/13711430/

[2016-03-14 13:41] pshowalter opened #39 "README for RLOS - Mention Input surface or Data Frame needs to have a PCS"
Tool requires that Data or Data Frame has a PCS.  It will run with GCS, but results will not be correct.

[2016-03-15 17:18] #38 closed, assigned to pshowalter

[2016-03-15 17:23] pshowalter opened #40 "Enhancement: Inform the user if 3D or Spatial Analyst is not available"
Enhancement: Inform the user if 3D or Spatial Analyst is not available.
When running the RLOS on a system that does not have 3D or Spatial Analyst, The user will receive a message indicating "Results not calculated. Check input parameters, and try again".  It would be better to inform the user that a required 3D or Spatial Analyst extension is not available.

[2016-03-15 19:46] pshowalter opened #42 "Enhancement Request: Allow manual input of coordinates for Observer and Target"
Enhancement Request: Allow manual input, or pasting from Coordinate Conversion tool, of coordinates for Observer and Target in LLOS and RLOS as appropriate.

[2016-03-16 21:27] mfunk opened #45 "Make RLOS result polys without symbol outline"
Something that would make the result polygons stand out more would be to remove the outline from the symbol. Currently, and by default, the Outline Color is gray...Here's what it looks like (with 69% transparency):

![image](https://cloud.githubusercontent.com/assets/3093182/13829153/ac600692-eb82-11e5-95dd-7a8c5fba9119.png)

This is OK, except for the very small area polys, that (at scale) are ba

[2016-03-16 21:43] #30 closed, assigned to jmccausland

[2016-03-22 12:49] mcalamito opened #47 "Writing Columns and Values from Graphics to Saved Features"
Saving graphics as features (shapefile, feature class, and KML) is crucial, but so is saving the attributes that correspond to these features. The user will be inputting information into the Visibility form or drawing on the map interactively. These values must be present in the attribute table when the graphic is saved to a feature or the user will not have values associated with each feature.

F

[2016-03-28 19:26] lfunkhouser opened #49 "Transfer labels to another repo"
_From @lfunkhouser on March 28, 2016 19:25_

_Copied from original issue: Esri/coordinate-conversion-addin-dotnet#86_

[2016-03-28 19:40] #49 closed, assigned to lfunkhouser

[2016-04-01 17:47] #39 closed, assigned to pshowalter

[2016-04-08 21:01] topowright opened #50 "Understading the symbology that are created by LLOS"
A user should be able to understand what is being returned.

Observers
Targets
What observer can see each target

Our current LLOS tool has a great return we need to be able to explain this return in a smart fashion.

[2016-04-11 14:30] topowright opened #51 "Versions for add-in"
Versions for add-in

[2016-04-13 05:57] topowright opened #52 "Adding a secondary owner"
@jmccausland can you add me as the secondary owner of the repo

[2016-04-13 21:50] csmoore commented on #52
Verified

[2016-04-13 21:50] #52 closed

[2016-04-13 21:51] csmoore commented on #26
Public

[2016-04-13 21:51] #26 closed

[2016-04-14 12:59] lfunkhouser commented on #51
@topowright Can you modify the title and description of this issue to be more explicit?

[2016-04-16 05:13] topowright commented on #51
Each add-in must have a versoin number. If this does not happen and users use a common folder to share the add-ins the system will not know when to pull a new version.

[2016-04-16 05:32] topowright commented on #51
![image](https://cloud.githubusercontent.com/assets/5488313/14579329/e698ae6a-0359-11e6-8033-53abf2cde9a1.png)
This is an example of the version number

[2016-04-19 17:21] mfunk commented on #32
@topowright from demo today, it apparently is.

[2016-04-21 16:56] topowright commented on #42
@jmccausland

[2016-04-22 15:38] jmccausland commented on #42
@pshowalter please verify

[2016-04-25 13:23] pshowalter commented on #42
verified.

[2016-04-25 13:23] #42 closed

[2016-04-25 14:11] topowright commented on #51
verified

[2016-04-25 14:11] #51 closed

[2016-04-29 21:43] mfunk opened #61 "Not seeing correct warning in LLOS with different spatial references"
So I'm testing for #59 and #58 And I'm expecting to see a warning like:

*Spatial Reference of Data Frame and surface must match.  Please change the Spatial Reference of the Data Frame and try again.*

I set the spatial reference for the Data Frame to Web Mercator:
![image](https://cloud.githubusercontent.com/assets/3093182/14930344/0a19b8f2-0e18-11e6-91f5-5034d7f26441.png)

Then open the Add-In a

[2016-04-29 22:03] mfunk opened #62 "Not seeing correct warning for RLOS using geographic input surface"
I'm testing the warning messages from PRs #58 and #59 and not getting the expected warning message when using an **Input Surface** in Geographic coordinates.

I'm using a surface dataset in **Geographic WGS 1984**...
![image](https://cloud.githubusercontent.com/assets/3093182/14930656/818e531e-0e1a-11e6-9c55-478250ed40f1.png)

I set a single observer, and click OK... and the status bar swims aroun

[2016-05-02 12:42] dhagens commented on #61
![llos](https://cloud.githubusercontent.com/assets/13664546/14954579/95a93caa-1041-11e6-8fdc-7745daef35a4.jpg)

It appears that the Application folder was not updated after the last commit that fixed this issue.  @jmccausland, please update the Application folder so Matt can retest these.  Thanks.

[2016-05-02 12:46] dhagens commented on #62
![llos](https://cloud.githubusercontent.com/assets/13664546/14954666/40fbbc2c-1042-11e6-9a88-c80479120098.jpg)
Same as #61.  @jmccausland, please update the Application folder and comment on here when completed so @mfunk can retest.  Thanks.

[2016-05-02 13:01] jmccausland commented on #62
updated, but only because it looks like Jenkins is not working properly

[2016-05-03 14:33] mfunk commented on #61
Tried again with yesterday (5/2/2016 build 285) and still not getting expected warnings. Tried 4 test cases:

**Case 1:**
* Data Frame: GCS_WGS_1984
* Input Surface: GCS_WGS_1984
* Result: Results look good, output lines are red/green:

![image](https://cloud.githubusercontent.com/assets/3093182/14986374/70add5d6-1100-11e6-9303-a0f0764c5769.png)

**Case 2:**
* Data Frame: GCS_WGS_1984
* Input Surf

[2016-05-04 21:13] mfunk commented on #62
Verified and fixed.

[2016-05-04 21:13] #62 closed

[2016-05-04 21:13] mfunk commented on #61
Verified and done.

[2016-05-04 21:13] #61 closed

[2016-05-04 21:18] mfunk opened #70 "LLOS in Pro test results with some issues"
I tested the LLOS in Pro 1.2 in 2D map with the following results:
- Pro crashed after every 2nd or 3rd test of the tool. It doesn't seem to be a consistent set of steps other than just using the tool two or three times in a row.
- Output symbology isn't quite the same as ArcMap. Symbols are thinner (lines 1pt instead of 2pt), and observer/target points aren't different for the visible or not-visi

[2016-05-05 11:34] jmccausland commented on #70
I believe to make the symbology look the same as ArcMap we would have to create a custom dictionary renderer for the output feature class.  Pro 1.2 doesn't support custom renderers.

The other alternative is to go through the feature class and create temp symbols and add them to the map overlay.

[2016-05-06 14:59] pshowalter opened #72 "LLOS in Pro not accepting manual input in Observer or Target Points"
LLOS in Pro will only allow points to be entered using the Map Point tool.  If you type or paste a coordinate in, it is marked as "Invalid Coordinate".  Using the Mosaic Dataset ".\Resources\Tutorial Data\MilitaryToolsTestData.gdb\ElevationSurface".
Elevation is Web Mercator
Map is Web Mercator.

![image](https://cloud.githubusercontent.com/assets/6842145/15076792/64e7fe36-1379-11e6-8690-29d79d759

[2016-05-06 15:26] pshowalter opened #73 "LLOS in Pro crashes on 2nd run"
I can run a LLOS in PRO with a couple Observers and one target.  Results in screen capture top screen capture.  When I run a 2nd LLOS in same session with similar Observers and Target, there is a crash in Pro.
![llos_issue_2runs](https://cloud.githubusercontent.com/assets/6842145/15077600/3dcd4f96-137d-11e6-967a-7a2e906beffd.jpg)

[2016-05-09 13:29] pshowalter commented on #73
Duplicate info in:
#70
Pro crashed after every 2nd or 3rd test of the tool. It doesn't seem to be a consistent set of steps other than just using the tool two or three times in a row.

[2016-05-09 13:29] #73 closed

[2016-05-19 19:15] #45 closed

[2016-05-31 16:54] jmccausland commented on #72
updated, @pshowalter please verify with the late day or tomorrows Jenkins build

[2016-06-01 16:06] pshowalter commented on #72
Closing.  Form is accepting Input of typed or pasted coordinates  in LLOS and RLOS.

(I am not getting results with LLOS and the Pro build 5792)

[2016-06-01 16:06] #72 closed

[2016-06-01 16:18] pshowalter opened #81 "LLOS - not producing results with Pro build 5792."
No results produced with LLOS and the Pro build **5792**.  No error message, runs and no graphics or features result.
Have tried with 2 elevation data sets:
- ElevationSurface Mosaic Data Set
- ElevationUTM_Zone10 GDB Raster

[2016-06-02 06:11] topowright opened #82 "Change to the map point tool"
Change the map point tool to use the 16 bit image not the 32 bit image. This is based on the feedback from graphics.

[2016-06-02 18:33] pshowalter commented on #81
@jmccausland @topowright
With Pro Build 5796 - a first run of LLOS will produce appropriate results.  A second run in the same Map or different Map does not produce the line features.  LLOS overwrites the **vis_los_output** in the Projects GDB, but not the **vis_sight_lines**.  No lines are created for the 2nd run (red/blue points in screen capture).  If we consider this "as designed", (perhaps do

[2016-06-02 19:29] jmccausland commented on #81
All GP tool calls that result in output have the environment "overwriteoutput" set to true

I see this as a Pro core issue

[2016-06-09 15:22] jmccausland commented on #81
Also if you have the symbology tab open it can cause your visuals to change.

[2016-06-15 18:34] pshowalter commented on #81
@topowright @jmccausland
Further investigation, it seems that the vis_los_output lines **are created**, have an attribute table, but Pro does not display them.  Additional manipulation of Pro (i.e. export features, then apply a layer file to the new layer of exported  lines, **_zoom out_**) and the original non-displayed lines will display.
In some testing, Save and Quit, reopen the project, lines

[2016-06-16 13:04] mcalamito opened #88 "Zoom to Graphic Extent After Graphic Created"
after creating a graphic, the map should be zoomed to graphic extent by default. If the user is drawing within their current extent, they can see their graphic being created. If they are manually inputting parameters and those parameters fall outside their current extent, they should be automatically taken to the graphics extent.

[2016-06-16 13:14] mcalamito opened #89 "Snapping to Features When Interacting with Map in ArcMap"
When interacting with map to create center points, end points, etc., snapping to existing features would be a huge workflow asset. It currently works in ArcGIS Pro and is a big enhancement. Having this available in ArcMap is crucial.

[2016-06-16 19:08] jmccausland commented on #89
addressed in #90, verify at the next build

[2016-06-16 19:10] jmccausland commented on #81
I'm seeing some GP tool failures due to not being able to acquire a lock.  Calls to GP tools are being made properly.

[2016-06-16 19:13] #19 closed

[2016-06-16 20:45] mfunk opened #91 "RLOS output is pink"
I installed the latest build of the Pro Add-In today, and ran it against the test "ElevationUTM_Zone10" data. One single observer, but the output is PINK:

![image](https://cloud.githubusercontent.com/assets/3093182/16132574/8c8fe632-33c8-11e6-8c0b-a2d1942dbb1d.png)

[2016-06-16 21:20] mfunk commented on #91
... and now it is gray/blue and not square...

![image](https://cloud.githubusercontent.com/assets/3093182/16133577/8580721c-33cd-11e6-8d68-a3adec2ea59a.png)

[2016-06-16 22:23] topowright commented on #91
I have confirmed that I get the same thing in today's and yesterdays build. Going back to check previous builds

[2016-06-16 22:28] topowright commented on #91
Build 457 shows the correct symbology

[2016-06-17 11:58] pshowalter commented on #81
It would be great to get this in front of GP developers. I have seen similar in another  template.

<notifications@github.com<mailto:notifications@github.com>> wrote:

I'm seeing some GP tool failures due to not being able to acquire a lock. Calls to GP tools are being made properly.

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://

[2016-06-24 22:20] topowright commented on #91
The build number is 4857. I just tested this on 4861 and I am seeing the same issue.

[2016-07-11 17:05] pshowalter opened #94 "Arcmap and Pro LLOS, and RLOS does not detect point outside of an elevation Mosaic dataset extent that is not rectangular."
@jmccausland @dhagens @topowright @mfunk
In Arcmap and Pro 1.3, RLOS does not detect user entered point outside of an elevation Mosaic Data Set extent that is not rectangular in an area that would be in the minumum bounding rectangle.
![image](https://cloud.githubusercontent.com/assets/6842145/16739361/b48f0566-4767-11e6-9d69-e05b0713322b.png)

[2016-11-16 01:20] topowright opened #95 "Add-in crashes when multiple sessions are ran"
Thinking about how the user might want to jump back  and forth from LLOS to RLOS a bug has been found that causes ArcGIS Pro to fail. This happens also if you try to run RLOS more than once in ArcGIS Pro 1.2.

Currently the possible fix is to have the add-in write  a new feature classes each time the tool is being ran.

[2016-11-18 20:38] topowright opened #96 "Error when moving from LLOS to RLOS"
When running the add-in in ArcGIS Pro1.2 you will get this issue.
If you run LLOS tool tab first and then move to the RLOS tab you get following error:

![image](https://cloud.githubusercontent.com/assets/5488313/20445904/ef842a72-ad8b-11e6-9123-6951eca084ca.png)

[2016-11-18 20:43] topowright commented on #96
Possible issue could be that both tabs are using the same name.

[2016-11-20 23:08] topowright opened #97 "Bad results when running RLOS in ArcGIS Pro 1.2"
When running the RLOS tool sometimes the result returns like the example graphic below:
![image](https://cloud.githubusercontent.com/assets/5488313/20467019/203d2666-af33-11e6-98f6-7df0f1c7f169.png)

This does not happen every time; however, it does happen and can be reproduced by running the RLOS tool multiple times in a row.

[2016-11-21 07:45] topowright commented on #96
I have been able to fix the issue above based on changing the names of each of the outputs to be unique. Before they were not unique. The Observers used the same name for both tabs.

[2016-11-21 07:50] topowright opened #98 "Error when running the tools multiple times"
When debugging the application returns me to: featureLayer.SetRenderer(uniqueValueRenderer);

Not sure why there are null values being passed. Not much more explanation because I am not sure what the problem is or how to fix it.

[2016-12-14 22:09] lfunkhouser opened #102 "Visibility Add-in RLOS produces empty polygon results and has no symbology"
_From @migueldls on December 13, 2016 18:14_

## Expected Behavior

RLOS Tool should populate output to TOC sybolized by visible/not visible to observer
## Current Behavior

RLOS is adding vis_rlos_conv_polygon to TOC but the feature is empty or corrupt. I appears as if the layer was an output of the vis_rlos_output raster but the polygon layer was created with empty geometry. Also the layer in th

[2016-12-14 22:10] lfunkhouser opened #103 "Overwriting layers produces Issues for Visibility"
_From @topowright on December 9, 2016 13:55_

Currently the Visibility add-in is configured to overwrite the same four layers for LLOS and the same two layers for RLOS.

## Expected Behavior
Layers overwrite and tools run properly

## Current Behavior
Layers do not write to TOC
Layers do not write to the default database

## Possible Solution
Have unique names for all layers being written from eac

[2016-12-14 22:10] Dbarnes1 opened #104 "Visibility- Map Point Tool vs Observer Map Point Tool for RLOS vs LLOS"
The tooltip over the map point tools in linear line of sight are called observer map point tool and target map point tool respectively, whereas in the radial line of sight tab the observer map point tool is simply called the map point tool.
## Expected Behavior
tooltip naming convention for both of these should be the same, preferably change the name of the radial line of sight tool to Observer Ma

[2016-12-14 22:10] lfunkhouser opened #105 "Visibility Add-in LLOS does not produce layers for Sight Lines or LLOS results"
_From @topowright on December 8, 2016 23:9_

LLOS tool should populate the TOC and Map with the following four layers:

Observers
Targets
Sight Lines
LLOS Results

## Expected Behavior
Sight Lines populate to the TOC, bu they do not populate to the map.
## Current Behavior
![image](https://cloud.githubusercontent.com/assets/5488313/21031401/2abe4cb6-bd9b-11e6-8d6f-e05567031a53.png)

LLOS results a

[2016-12-14 22:10] lfunkhouser commented on #105
_From @migueldls on December 9, 2016 0:6_

I'm seeing similar issues using LLOS tool. Not sure if this is Pro limitation.

**Expected Behavior**
Sight Lines are added to TOC symbolized as visible/not visible segments to observer along a sight line. And visible/ not visible target.

**Current Behavior**
Los Output is added to TOC as Single Symbol symbology, user must then have select Unique Values

[2016-12-15 00:39] nfeuerstein commented on #103
What do other analytical tools in ArcGIS do?  Do they overwrite the output?  The user is creating this feature for a reason, not because they're interested in what the tool does.  They want to create a feature and persist it, use it somewhere, share it with someone.  Can they do this if the tool automatically overwrites?

[2016-12-15 00:41] nfeuerstein commented on #97
Does this bug still happen in 1.3?

[2016-12-15 17:15] pHill5136 commented on #102
@nfeuerstein @topowright RLOS appears to be creating the visibility polygon feature class and adding to toc. It does not display in the map. If you close pro and reopen, the layer displays properly. I am not seeing this behavior in 10.3 so this tells me that this is possibly a regression bug at 10.4 pro.

[2016-12-15 17:40] pHill5136 commented on #104
@nfeuerstein @Dbarnes1 Changed the tooltip for RLOS map point tool from Map Point Tool to Observer Map Point Tool. Pull request https://github.com/Esri/visibility-addin-dotnet/pull/106

[2016-12-15 17:49] lfunkhouser opened #107 "Labels for Visible Observers does not show up"
_From @topowright on December 8, 2016 7:30_

When running the visibility LOS tool in  the ArcGIS Pro add-in there should be a label showing how many observers can see a target. Currently This does not show up

## Expected Behavior
I would expect any target that is green be numbered with at least one

## Current Behavior
No label is being generated

## Possible Solution
Unclear. This works in ArcGI

[2016-12-15 17:49] lfunkhouser commented on #107
_From @topowright on December 8, 2016 22:28_

@nfeuerstein adding you for awareness

[2016-12-15 17:49] lfunkhouser commented on #107
_From @dhagens on December 13, 2016 17:11_

The following are my findings for the labeling in Pro 1.4

In Pro 1.3, the label expression engine is either defaulted to VBScript or is smart enough to know what kind of expression is being used and sets it automatically.  In Pro 1.4, the expression engine defaults to Arcade.  By programatically setting the expression engine in the code to VBScript, the

[2016-12-15 17:49] lfunkhouser commented on #107
_From @dfoll on December 13, 2016 18:41_

@topowright check out @mfunk latest comments on https://github.com/Esri/military-tools-geoprocessing-toolbox/issues/159 and https://github.com/Esri/military-tools-geoprocessing-toolbox/issues/157

[2016-12-15 17:49] lfunkhouser commented on #107
_From @topowright on December 13, 2016 19:14_

@mfunk @dfoll I just spoke to core and this is a major issue for them that they are going to get started on now. The issues that we found are as follows:

1. The labeling tool is not setting the language to the type that is being passed. For our tool that should be automatically set to  VisualBasic, but instead it is staying on Arcade, which i think i

[2016-12-15 17:58] Dbarnes1 commented on #104
@pHill5136 thank you!

[2016-12-15 22:02] topowright commented on #97
@nfeuerstein I am going to close this bug because it is related to ArcGIS Pro 1.2

[2016-12-15 22:02] #97 closed

[2016-12-15 22:03] topowright commented on #96
This fix needs to happen in ArcGIS Pro 1.3 and ArcGIS Pro 1.4

[2016-12-15 22:16] topowright commented on #20
We did not have a plan to support Mosaic Datasets in the first version.

[2016-12-15 22:21] #31 closed

[2016-12-15 22:23] topowright commented on #104
@Dbarnes1 can we close this issue?

[2016-12-16 02:26] Dbarnes1 commented on #104
@topowright I just merged #106 so i'll verify in the next build

[2016-12-16 14:45] Dbarnes1 commented on #104
verified, closing

[2016-12-16 14:45] #104 closed

[2016-12-16 18:57] elinz opened #108 "Poor tooltip name and description for Visibility addin (ArcMap)"
When I hover over the Visibility addin the following tooltip is displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21274714/62a3689e-c37e-11e6-9541-4499c50005a4.png)

"Show Visibility" - there is no reason to use the verb "Show". Users know that the tool will open or do something.

"Add-in command to show Visibility window." - This doesn't help the user at all. We should be des

[2016-12-16 19:07] elinz opened #109 "Poor tooltip name and description for Visibility addin (ArcGIS Pro)"
When I hover over the Visibility addin the following tooltip is displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21275022/c8adc0c0-c37f-11e6-9405-b81641313abf.png)

"Show Visibility" - there is no reason to use the verb "Show". Users know that the tool will open or do something.

"Show Visibility Dockpane" - This doesn't help the user at all. We should be describing what the

[2016-12-19 15:09] dhagens commented on #107
@elinz, this is ready to be verified if you have some availability.

[2016-12-19 15:47] dhagens commented on #103
@topowright, please update the Expected Behavior for this bug to reflect what we discussed on Friday where the layers will not be overwritten, but new layers will be added after each run.  These layers will be placed in a new group layer after each run of the tool, but the group layers are not currently working properly so the group layer functionality will be added later.

[2016-12-19 19:11] elinz commented on #107
@dhagens Testing right now in Pro 1.4 with addin built on 1.4 SDK. Labeling is now working. Installing latest 1.4 daily build and will retest.

[2016-12-19 20:29] elinz commented on #107
@dhagens Tested on latest Pro 1.4 build (7187) with addin built on 1.4 SDK. Labeling is working, example, shown below:
![image](https://cloud.githubusercontent.com/assets/4635490/21328026/b893228e-c5e6-11e6-8e1e-90284a8cd0c5.png)

Closing issue.

[2016-12-19 20:29] #107 closed

[2016-12-19 21:42] migueldls commented on #89
@jmccausland @lfunkhouser I verified that the snapping to features in ArcMap works as expected. Verified in ArcMap 10.4.1 and works with point, end, vertex and edge snapping. Going to close this issue.

[2016-12-19 21:42] #89 closed

[2016-12-19 23:18] elinz commented on #109
Tooltip name and description should be:
Visibility

Perform Linear (LLOS) and Radial (RLOS) line of sight analysis. LLOS determines if a target(s) is observable from an observer(s) location. RLOS determines what is visible from observer(s) location based on a given distance and a field of view.

[2016-12-19 23:18] elinz commented on #108
Tooltip name and description should be:
Visibility

Perform Linear (LLOS) and Radial (RLOS) line of sight analysis. LLOS determines if a target(s) is observable from an observer(s) location. RLOS determines what is visible from observer(s) location based on a given distance and a field of view.

[2016-12-20 19:06] migueldls commented on #82
@topowright What to I need to know to verify this?

[2016-12-21 01:20] topowright commented on #103
This is no longer an issue based on the change that was made where each of the tools writes unique layers each time the tool is run.

[2016-12-21 01:20] #103 closed

[2016-12-21 01:20] topowright commented on #96
This issue has been resolved with the use of unique names for LLOS and RLOS.

[2016-12-21 01:20] #96 closed

[2016-12-21 01:21] topowright commented on #40
Need to verify this in ArcGIS Pro and ArcMap

[2016-12-21 01:27] topowright commented on #94
This has been fixed in ArcMap:

![image](https://cloud.githubusercontent.com/assets/5488313/21374165/82d2e05a-c6d9-11e6-97ea-35690aa3f0b0.png)
This needs to be verified in ArcGIS Pro 1.4

[2016-12-21 07:57] topowright commented on #91
This was an issue in ArcGIS Pro 1.3 and was fixed then. This is no longer an issue.

[2016-12-21 07:57] #91 closed

[2016-12-21 07:59] topowright commented on #82
This has been done. @migueldls you can find the files in the following location. To see if the code is using them you would need to install Visual Studio and look at the configuration of the button.

[2016-12-21 07:59] #82 closed

[2016-12-21 08:01] topowright commented on #81
We are able to draw and create the features from both tools. However, this still might be connected to a larger issue with the GP functionality.

[2016-12-21 16:44] ACueva opened #112 "Okay button too small"
The "OK" button looks tiny compared to the other buttons.  Any chance we can make the button bigger?
![12-21-2016 8-41-56 am](https://cloud.githubusercontent.com/assets/3093940/21397678/947dc308-c759-11e6-9843-0478e1da8102.png)

[2016-12-21 17:19] migueldls opened #113 "RLOS tool does not add symbology correctly if user deletes features from Project.gdb and re-runs tool."
If the user runs the tool correctly the first time and gets good results symbolized by Visible/Non-Visible (Green/Red/Other) and then deletes the results from the TOC and deletes the feature classes from the Project.gdb and re-runs the tool, the outputs are that are added to the TOC are then symbolized generically.
![rlos1](https://cloud.githubusercontent.com/assets/23364449/21399739/b2ddf72a-c761

[2016-12-21 17:35] migueldls commented on #113
@topowright @dhagens Outside of what you guys were seeing this is all I could replicate.

[2016-12-21 19:25] elinz opened #114 "LLOS: Observer Points/Target Points parameters do not handle coordinates entered in Long Lat order (ArcMap)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21402996/ef0f8b7e-c76f-11e6-867f-b574016b7d90.png)

Tool does not accept coordinates to

[2016-12-21 19:29] elinz opened #115 "RLOS: Observer Points parameter does not handle coordinates entered in Long Lat order (ArcMap)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21403202/a70768c8-c770-11e6-8562-bd98d1b19929.png)

Tool does not accept coordinates to

[2016-12-21 19:33] elinz opened #116 "LLOS: Observer Points/Target Points parameters do not handle coordinates entered in Long Lat order (ArcGIS Pro)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21403347/40e896ec-c771-11e6-84da-2cb4c880e38f.png)

Tool does not accept coordinates to

[2016-12-21 19:36] elinz opened #117 "RLOS: Observer Points parameter does not handle coordinates entered in Long Lat order (ArcGIS Pro)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21403447/a79d5c10-c771-11e6-9c21-ffe1b3d982af.png)

Tool does not accept coordinates to

[2016-12-21 21:48] elinz opened #118 "LLOS: coordinate system check is not correct (ArcMap)"
The addin is comparing the coordinate system of the data frame with the coordinate system of the input surface. When they don't match the tool presents the following error message:
![image](https://cloud.githubusercontent.com/assets/4635490/21407166/167eb1a8-c784-11e6-8edd-a90e00040d8b.png)

This is not the requirement for this tool to run. The requirement is for the input surface to be in a proje

[2016-12-22 16:58] elinz opened #119 "LLOS: output graphics missing sight lines (ArcMap)"
When I run a Line of Sight analysis in ArcMap, the resulting graphics are missing sight lines, i.e. no black/white "outer casing" indicating if target is not visible/visible from observer...
![image](https://cloud.githubusercontent.com/assets/4635490/21433539/1053fc2e-c825-11e6-85ba-df760793bad1.png)

Running Line of Sight analysis in ArcGIS Pro creates sight lines...
![image](https://cloud.github

[2016-12-22 17:11] elinz opened #120 "LLOS: add progress bar similar to RLOS (ArcGIS Pro)"
When the RLOS tool executes in ArcGIS Pro it displays a progress bar, i.e. the "Input Surface" label changes to a progress bar...
![image](https://cloud.githubusercontent.com/assets/4635490/21433881/8b9572e0-c826-11e6-8d43-7cd6e4572e9b.png)

When the LLOS tool executes it does not display this progress bar.

[2016-12-22 17:15] elinz opened #121 "LLOS: add progress bar similar to RLOS (ArcMap)"
When the RLOS tool executes in ArcGIS Pro it displays a progress bar, i.e. the "Input Surface" label changes to a progress bar...
![image](https://cloud.githubusercontent.com/assets/4635490/21434003/1d59e210-c827-11e6-8340-27fd62ed71b5.png)

When the LLOS tool executes it does not display this progress bar.

[2016-12-22 17:52] nfeuerstein commented on #70
@dhagens @topowright is this issue resolved with the fix at 1.4?

[2016-12-22 17:53] nfeuerstein commented on #81
@topowright @dhagens is this issue resolved with the fix at 1.4?

[2016-12-22 17:55] nfeuerstein commented on #95
@topowright is this still an issue or has it been fixed at 1.4?

[2016-12-22 17:57] nfeuerstein commented on #102
@dhagens @topowright I believe this issue was fixed at 1.4.  Is that correct?

[2016-12-22 18:26] elinz opened #122 "RLOS: Distance parameter does not have a dedicated units control (ArcMap)"
The distance parameter on the RLOS (radial line of sight) tool does not have it's own units control. The distance parameter uses the same units set in the Offsets portion of the interface. This is usability issue as I believe users will want to specify different units for the offset and distance.

![image](https://cloud.githubusercontent.com/assets/4635490/21435911/f738fa1c-c830-11e6-87de-35944a94

[2016-12-22 18:27] elinz opened #123 "RLOS: Distance parameter does not have a dedicated units control (ArcGIS Pro)"
The distance parameter on the RLOS (radial line of sight) tool does not have it's own units control. The distance parameter uses the same units set in the Offsets portion of the interface. This is usability issue as I believe users will want to specify different units for the offset and distance.

![image](https://cloud.githubusercontent.com/assets/4635490/21435987/41b6e522-c831-11e6-9240-e374a8f7

[2016-12-22 18:40] nfeuerstein commented on #123
@elinz even there was only one unit configuration that applied to all inputs, it is odd to have it placed in the Offsets section only when it applies to distance as well.  That said, the user can get around with the clunkiness until next release.

[2016-12-22 18:50] elinz commented on #123
@nfeuerstein Sounds good. Thanks.

[2016-12-22 19:00] elinz opened #124 "RLOS: tool is creating data outside analysis area when set to symbolize non-visible data in output (ArcMap)"
If you check the "Symbolize Non-Visible Data in Output" option, AND set the Field of View so it's not 0 to 360, the output creates non-visible data outside of analysis area.

For example...
![image](https://cloud.githubusercontent.com/assets/4635490/21436830/501e254a-c835-11e6-90be-cd5afce5f559.png)

creates the following output...
![image](https://cloud.githubusercontent.com/assets/4635490/214368

[2016-12-22 19:10] elinz opened #125 "RLOS: tool is creating data outside analysis area when set to symbolize non-visible data in output (ArcGIS Pro)"
If you check the "Symbolize Non-Visible Data in Output" option, AND set the Field of View so it's not 0 to 360, the output creates non-visible data outside of analysis area.

For example...
![image](https://cloud.githubusercontent.com/assets/4635490/21437148/1e3be6fa-c837-11e6-9959-1ded07a655c2.png)

creates the following output...
![image](https://cloud.githubusercontent.com/assets/4635490/214371

[2016-12-22 19:58] dhagens commented on #70
Most of these issues should be addressed with the fix that the Pro team gave us yesterday.

[2016-12-22 19:59] dhagens commented on #81
Yes this should be fixed with the fix made by the Pro team yesterday.

[2016-12-22 19:59] dhagens commented on #102
That is correct.

[2016-12-22 21:14] elinz opened #126 "LLOS: error message is not clear what action to take (ArcGIS Pro)"
Run the tool with the following parameters...
![image](https://cloud.githubusercontent.com/assets/4635490/21440338/660ff9d4-c847-11e6-8fc1-c5f4758f179d.png)

The tool threw the following message:
LLOS computations did not complete correctly. Please try again by selecting the 'OK' button.

The message dialog and the LLOS tool both have an 'OK' button. The user may think that by clicking the 'OK' bu

[2016-12-22 21:37] topowright commented on #126
@elinz This is an issue that was fixed last nights build of ArcGIS Pro. If you update your version of Pro to the daily build and update your add-in this should not be an issue.

@elinz please verify that you do not see this issue after updating.

[2016-12-22 21:39] topowright commented on #125
@dhagens can we take a look at this? The output might be a field of view slice instead of the entire circle.

[2016-12-22 21:40] topowright commented on #125
I think this is similar to this issue:

https://github.com/Esri/visibility-addin-dotnet/issues/124

[2016-12-22 21:46] topowright commented on #113
@migueldls this has been fixed in the latest build. I have tested this and I do not see the same results. @nfeuerstein, @migueldls is out of the office until Jan 3, may I close this out being that I have verified that it is no longer an issue?

[2016-12-22 21:47] topowright commented on #105
This has now been fixed.

[2016-12-22 21:47] #105 closed

[2016-12-22 21:48] topowright commented on #70
I agree with Dan. @mfunk if you want to try the updated tool with todays daily build of Pro you will get better results.

[2016-12-22 22:06] elinz commented on #126
@topowright The issue was concerning the text that we write to the message box, so it's an issue with the addin and not ArcGIS Pro, so I'm not sure how installing a newer build of ArcGIS Pro would make any difference with our message box. It may make a difference in whether the tool doesn't complete successfully.

[2016-12-22 22:10] topowright commented on #50
We can start to address this problem by changing the layer names:
**What they are now**                                                  **My idea of a good name**
RLOS_Conv_Polygons_4                                                    RLOS Results

[2016-12-22 22:12] topowright commented on #50
There was discussion that we should change the field name that is created by the sightlines tool from TarIsVis to something else. I do not think this is needed.

[2016-12-22 22:12] topowright commented on #81
I am closing this issue. @dhagens  and I have verified that this is no longer an issue.

[2016-12-22 22:12] #81 closed

[2016-12-22 22:16] topowright commented on #98
This has been fixed.

[2016-12-22 22:16] #98 closed

[2016-12-22 22:18] topowright commented on #70
Closing this issue based on it being linked to ArcGIS Pro 1.2

[2016-12-22 22:18] #70 closed

[2016-12-22 22:19] topowright commented on #32
Closing this issue based on the fact that i cannot replicate the issue.

[2016-12-22 22:19] #32 closed

[2016-12-22 22:32] nfeuerstein commented on #113
Absolutely.

[2016-12-22 22:37] nfeuerstein commented on #102
Fixed at 1.4.  Closing

[2016-12-22 22:37] #102 closed

[2016-12-22 22:44] elinz commented on #126
FYI. There was a fix to the latest build of ArcGIS Pro which should prevent the case where the addin message will need to be displayed.

I'm closing the issue. If can reopen if there is still an issue.

[2016-12-22 22:44] #126 closed

[2016-12-22 22:47] topowright commented on #47
This issue has been partly resolved.

In ArcGIS Pro we write features to the default database and we do not need to change anything; however, in ArcMap we need to have LLOS tool write features to the default database. The RLOS tool currently writes to the scratch workspace. It would be good to have this output be the default database for ArcMap as well.

[2016-12-22 22:49] topowright commented on #36
This is no longer an issue.

[2016-12-22 22:49] #36 closed

[2016-12-22 22:53] topowright commented on #113
@nfeuerstein thank you

[2016-12-22 22:53] #113 closed

[2016-12-22 22:55] topowright commented on #95
@nfeuerstein This issue has been fixed.

[2016-12-22 22:55] #95 closed

[2017-01-04 15:50] dhagens commented on #125
@nfeuerstein @topowright @mfunk @lfunkhouser @kgonzago

@elinz After doing some more research on this, this isn't something that we can make work in a timely fashion.  I would expect this to take several days to a week to make work properly.  We do not have a GP tool that will allow us to create a feature based on headings from a given point, that would then be used to clip the buffer polygon used

[2017-01-04 16:24] dhagens commented on #119
@topowright @nfeuerstein @kgonzago

@elinz, When reviewing the code, as the ArcMap addin is currently functioning, the output of the LLOS tool are graphics being displayed on the map, not features.  The sight lines would not be visible if added because they would be hidden by the visible/non-visible observer->target lines.  The output is not being stored anywhere, it is just being displayed on the

[2017-01-04 16:30] dhagens commented on #119
We could also generate the sight lines and make them wider than the observer/target lines so that they could be seen underneath.

[2017-01-06 00:27] dfoll opened #130 "Graphics temporarily disappear if you use a combination of the Target/Observer Map Point Tool and pasted coordinates"
If you are using the Target/Observer Map Point Tool to input coordinates and then try to paste in some coordinates the points previously entered with the Target/Observer Map Point Tool disappear. They reappear with a single click of the Target/Observer Map Point Tool, without actually needing to click on the map.

The same behavior, with the same resolution happens if you have the Visibility pane

[2017-01-06 00:29] dfoll commented on #130
@nfeuerstein @lfunkhouser  i set the milestone to version next, however this is something i feel may not be critical for the first release, and thus may not need to be milestone next. Feel free to change the milestone, I have actually already explained this behavior in the documentation, so it's your call

[2017-01-06 00:47] dfoll opened #131 "Linear Line of Sight not producing any output"
Repro:

[insert a new map in pro]
1. remove the topographic basemap from your map
2. add elevation data, in my case i was using "ElevationUTM_Zone10" from the military tools test data gdb, this is available from the github repo.
3. open the visibility pane
4. click on the llos tab
5. use the observer map point tool to select one or many input observers
6. use the target map point tool to select on

[2017-01-06 00:47] dfoll commented on #131
@mfunk

[2017-01-06 13:32] dhagens commented on #88
@elinz Ready for testing

[2017-01-06 13:32] dhagens commented on #108
@elinz Ready for testing

[2017-01-06 13:32] dhagens commented on #109
@elinz Ready for testing

[2017-01-06 13:33] dhagens commented on #118
@elinz Ready for testing

[2017-01-06 14:15] dhagens commented on #131
@dfoll, I cannot reproduce this with the steps provided.  All works fine for me on the current build.
@topowright could you test this on your end and see if you can reproduce it?  I tested with the latest build at \\redarchive2\disl\Development\Commercial\MilitaryToolsForArcGIS\_current\ArcGISPro\Addins

[2017-01-06 14:28] topowright commented on #131
I am not able to reproduce this issue either. This could be a relic of a previous add-in. I would blow away all Pro directories in the profile directories and uninstall the add-in and reinstall the single add-in and see if you get the same results.

[2017-01-06 14:45] topowright commented on #119
@dhagens I think that is a great idea. I also think that is what we did for ArcGIS Pro.

[2017-01-06 15:19] topowright opened #132 "Layer name for RLOS polygon output should change"
Currently the polygon name that is automated is:

RLOS_Conv_Polygons_1

This should be changed to something a bit more clear:

RLOS_Visibility

[2017-01-06 15:33] dhagens commented on #132
Ready for testing once @kgonzago merges.

[2017-01-06 15:40] dhagens commented on #130
If all agree, I think this is a higher priority bug than #94, #124, #125 so I'll look into this one first.

[2017-01-06 16:09] kgonzago commented on #108
FYI @pHill5136, this issue also affects the single add-in.

[2017-01-06 16:20] dhagens commented on #132
Ready for review

[2017-01-06 16:22] dhagens commented on #108
@kgonzago, just wanted to make sure we are on the same page.  I made the fix for this in the single add-in.  Did you make the changes for this in the overarching MilitaryToolsForArcGIS addin?

[2017-01-06 18:51] topowright commented on #132
verified

[2017-01-06 18:51] #132 closed

[2017-01-06 19:21] topowright commented on #50
This should not happen being that TarIsVis is an output from the tool that is created the same way by the core gp tools. I feel like leaving this the same does not confuse users that have used other core gp tools.

[2017-01-06 19:23] topowright commented on #88
I have verfied that this is working in ArcGIS Pro and ArcMap minus the LLOS in ArcMap. This is due to the outputs for LLOS in ArcMap are graphics not features.

[2017-01-06 19:24] topowright commented on #118
verified

[2017-01-06 19:33] BobBooth commented on #118
@topowright @elinz @dhagens - I'm seeing something with LLOS in ArcMap (installed today's build) where it checks to see if the input surface is in projected coordinates (good), but when I project my DEM and add it to my map (originally CS of data frame and all layers GCS_WGS_1984), I can run the tool and I get unrealistic results - point A is visible from point B even though it is on the other sid

[2017-01-06 19:39] dhagens commented on #118
@BobBooth, Can you verify that the same scenario is different than what you see when running the core GP tools for LOS?

[2017-01-06 21:10] #88 closed

[2017-01-06 21:19] BobBooth commented on #118
@dhagens - my GP tools are messed up now (https://github.com/Esri/military-tools-geoprocessing-toolbox/issues/199). However, if I re-path the script for LLOS to its new location it runs.
 I ran it with the GCS_WGS_1984 CS for the data frame (and the elevation data in UTM) and it ran with warnings:
WARNING 000632: Datum conflict between map and output.
WARNING 000632: Datum conflict between map and

[2017-01-06 21:26] Dbarnes1 opened #135 "Doc- change to make sure that people are aware that only local elevation data is supported"
Elevation data must be local, visibility does not currently support elevation services. We need to update documentation to reflect this. I'll go ahead and update arcmap doc to start but I think this is applicable in pro as well. @dfoll fyi

[2017-01-06 21:27] BobBooth commented on #118
@mfunk - FYI

[2017-01-06 21:28] dhagens commented on #118
So it appears that the output from the core GP Tools doesn't handle this correctly either.  I'd have to look into this one further to see how long it would take to fix.  In the middle of fixing another bug right now. We may want to add this in the documents that incorrect results will occur if CS of dataframe and surface don't match (or the exact scenario that you mentioned above)
@nfeuerstein @to

[2017-01-06 21:36] BobBooth commented on #118
@dhagens - I think the GP tools (in ArcMap) are handling it almost right - I think the symbology is broken because of the path issue with the tools (so they aren't finding the LYR file, I'd guess). The profile graphs look right, anyway.

[2017-01-06 21:47] Dbarnes1 opened #136 "LLOS- trying to add image service should get warning in ArcMap 10.5"
I've been testing visibility and tried to add elevation data to test against from ArcGIS online. I realized that only local elevation data is supported, yet when I add services (mosaic, elevation, image) to the map and open the visibility tool, everything looks like it should work fine. This is a problem because I can run the tool and click OK and get ArcMap to hang up. The functionality needs to

[2017-01-06 22:02] topowright commented on #108
I have verified that this has been fixed in the single visibility add-in in ArcMap. It is not fixed in Military Tools add-in.

[2017-01-06 22:03] topowright commented on #109
I have verified that this has been fixed in the single visibility add-in in ArcGIS Pro 1.4. It is not fixed in Military Tools add-in. @kgonzago FYI.

[2017-01-06 22:10] Dbarnes1 opened #137 "LLOS- Unable to pick up sample elevation data while running tool, ArcMap 10.5"
I added the military tools sample dem and am unable to get accurate LLOS results, and I'm not sure why.

To reproduce:
Add military tools sample dem to a new map
open LLOS tab
add observer points and target points and click OK to run the tool.

I keep getting results that show a perfect line of sight, which indicates to me that the tool isn't picking up on the elevation data. See screenshot for ex

[2017-01-06 22:17] Dbarnes1 opened #138 "Something Went Wrong error in RLOS- ArcMap 10.5, should be warning about different coordinate systems"
I added a basemap, then the military tools sample dem to the map and tried to conduct RLOS. I added multiple observer points and clicked OK when...

Something Went Wrong:
![image](https://cloud.githubusercontent.com/assets/13024357/21734787/21066844-d41a-11e6-9877-64f3070dc2d3.png)

What that something is are two different coordinate systems, that of the basemap and that of the elevation layer. Th

[2017-01-06 23:12] Dbarnes1 commented on #138
https://github.com/Esri/visibility-addin-dotnet/issues/61

So I'm realizing that this issue is due to the fact that the elevation spatial reference didn't match the basemap I was using. However, we need a warning for different data frames. This was apparently fixed last may, but it has been broken since then.

[2017-01-06 23:54] Dbarnes1 opened #139 "RLOS- output should include symbology for locations where more than 1 observer can see."
I thought that RLOS would include a separate color for areas where more than one observer can see. I'm unable to get results for anything other than red (0) and green (1). Wasn't there a purple or yellow for 2, 3, etc.?

It looks like the symbology might just got be getting filled in correctly:
![image](https://cloud.githubusercontent.com/assets/13024357/21736805/32862b96-d428-11e6-8be3-821d3bcae4

[2017-01-07 00:10] dhagens commented on #108
Kevin is going to make the change in the Military Tools addin.  Not sure if he got to it yet.

Sent from my iPhone

On Jan 6, 2017, at 5:02 PM, Lyle Wright <notifications@github.com<mailto:notifications@github.com>> wrote:

I have verified that this has been fixed in the single visibility add-in in ArcMap. It is not fixed in Military Tools add-in.

-
You are receiving this because you were assigne

[2017-01-07 00:13] topowright commented on #108
@kgonzago @dhagens I am going to close this issue then.

[2017-01-07 00:13] #108 closed

[2017-01-07 00:14] topowright commented on #109
@kgonzago @dhagens I am going to close this issue as well based on the fact @kgonzago  is going to do the updates in Military Tools

[2017-01-07 00:14] #109 closed

[2017-01-07 00:27] topowright commented on #138
I think I have further issues that are similar to this.

Steps to replicate the dialog:

![image](https://cloud.githubusercontent.com/assets/5488313/21737312/6fdde80e-d42c-11e6-9a96-afd230abf625.png)

1. Start with a empty data frame
2. Add a non projected layer
3. Add a projected elevation layer

The expected result should be explaining to the user that the data frame is not projected properly.

[2017-01-07 00:30] topowright commented on #138
The issue is that there are multiple dialog prompts happening for the same issue. @dhagens

[2017-01-09 14:38] dhagens commented on #130
@dfoll, this is ready for testing with new build.

[2017-01-09 15:58] Dbarnes1 commented on #137
After speaking with @mfunk I realized that this is because my basemap coordinate system was different from that of my elevation data.

[2017-01-09 21:09] lfunkhouser commented on #138
Assigning to @Dbarnes1 to verify

[2017-01-09 21:15] lfunkhouser commented on #131
@dfoll can you verify

[2017-01-09 21:30] dhagens commented on #118
@elinz, @BobBooth , you should now get back a message indicating that the coordinate systems must match for the selected surface and the dataframe when running LLOS.  This is ready for testing.

[2017-01-09 23:30] Dbarnes1 commented on #135
I have updated this doc, closing.

[2017-01-09 23:30] #135 closed

[2017-01-09 23:40] Dbarnes1 commented on #138
![image](https://cloud.githubusercontent.com/assets/13024357/21788161/e5b3b804-d681-11e6-8154-9edac086ab69.png)

verified. Thanks @dhagens

[2017-01-09 23:40] #138 closed

[2017-01-10 15:15] dhagens commented on #136
@Dbarnes1 @topowright

I tested this out, and to my surprise, this actually does work.  I'm assuming the issues that you were seeing were because of the distance between Observer and Target points.  If you test with points that are closer in proximity you should see results.  In the bottom screenshot, ArcMap also stopped responding for a few seconds but then came back and I got results.  Not sure

[2017-01-10 16:18] elinz commented on #118
The Pro and ArcMap LLOS/RLOS tools have different requirements with regards to the spatial reference. In Pro, the input surface has to be in a projected coordinate system, while the map/data frame can be in any coordinate system. For ArcMap LLOS, the input surface has to be in a projected coordinate system and the data frame has to be in the same project coordinate system as the input surface.

Fo

[2017-01-10 16:58] elinz opened #141 "Doc-Visibility: LLOS - coordinate system guidance is incorrect (ArcMap)"
- [x] Step 2 in the "Creating linear lines of sight in ArcMap" section in the military_tools_for_arcgis_desktop.pdf
![image](https://cloud.githubusercontent.com/assets/4635490/21814986/07b1ce6c-d710-11e6-9dab-b8227babbdaf.png)
States "The surface data may be a raster dataset, image service, or mosaic dataset, but it must have the same spatial reference as the data frame." While this is true, it's

[2017-01-10 17:19] Thargoids commented on #136
If we did need code to detect whether the dataset is local or via service, I have this.

[2017-01-10 18:28] dfoll commented on #130
verified

[2017-01-10 18:28] #130 closed

[2017-01-10 18:29] dfoll commented on #131
this was user error, i did not have 3d analyst licensed

[2017-01-10 18:29] #131 closed

[2017-01-10 18:32] Dbarnes1 commented on #136
@dhagens thanks for the tip. I'll try and add some documentation that clarifies the limits to performing llos over a large area. I'm going to try and test both llos and rlos against different types of data sources in both arcmap and pro to see what the limitations are. I verified that the visibility tool worked against this separate dataset over the san francisco bay area (search for san francisco

[2017-01-10 19:09] Dbarnes1 commented on #137
verified, closing.

[2017-01-10 19:09] #137 closed

[2017-01-11 15:17] Dbarnes1 commented on #141
@elinz this will be ready to verify in the next build of the pdf. I'm going to check on the radial line of sight and the visibility doc in pro to see if anything needs to be changed.

[2017-01-11 16:59] dhagens commented on #94
Ready to verify in new build.
In Pro, the LLOS and RLOS tools will run if one or more of the Observer / Target points are outside of the surface extent.  The returned results will not be displayed for any points outside of the selected surface extents.  For LLOS and RLOS in ArcMap, all points must be within the extents of the selected surface.  If any points are outside of the selected surface ext

[2017-01-11 17:02] topowright commented on #94
This will be addressed by documentation.

[2017-01-11 19:16] dhagens commented on #20
I believe this was fixed with a previous fix that has been merged.  I tested this in 10.5 and both LLOS and RLOS seem to work fine now when a mosaic dataset is used as the input surface.

[2017-01-11 20:54] Dbarnes1 commented on #139
@dhagens I'm able to verify that symbology is now being created for two visible observers. Now, there is no fill for any area that is non visible. Is that by design to be consistent with arcmap? If so, I'll go ahead and close this out.

![image](https://cloud.githubusercontent.com/assets/13024357/21865935/f751d254-d7fc-11e6-9ec2-7dce838de53d.png)

![image](https://cloud.githubusercontent.com/asset

[2017-01-11 20:57] dhagens commented on #139
By default, non-visible data is not displayed.  You will need to check the 'Symbolize Non-Visible Data in Output' checkbox if you would like the non-visible data to be symbolized.

[2017-01-11 20:58] Dbarnes1 commented on #139
@dhagens thanks for the reminder! closing out.

[2017-01-11 20:58] #139 closed

[2017-01-11 21:34] Dbarnes1 opened #145 "map point tool no longer shows as crosshairs when panning over map in arcmap- both LLOS and RLOS"
The map point tool still works, but the issue here is that there is no longer the crosshairs that the user would expect. It looks like the normal mouse cursor.

[2017-01-11 21:58] NatalieCampos opened #146 "Visiblity add in has refresh issue"
Reproduce:

1 .Add a surface to ArcMap
2. Change the name of the surface in table of contents
3. attempt to collect observer points from the LLOS tab.  Collection will fail.
4. switch to the RLOS tab
5.  The surface will refresh to the new name and now allow points to be collected.

[2017-01-11 22:55] Dbarnes1 opened #147 "Visibility not working with mosaic dataset- Pro 1.4. This causes visibility addin to hang."
@NatalieCampos and I were able to repro this issue where visibility tool (LLOS and RLOS) will throw this error if being run against a mosaic dataset. This works in ArcMap

![image](https://cloud.githubusercontent.com/assets/13024357/21869560/0f201ca0-d80d-11e6-86e6-91dfa3fc1c15.png)

Once you close this box, the visibility add-in will hang and render itself unusable. Even if we say for this releas

[2017-01-11 23:20] Dbarnes1 commented on #136
In arcmap, @NatalieCampos was able to verify that mosaic datasets, image services, and local elevation data work as elevation inputs for the Visibility add-in in ArcMap. As a result, I updated the documentation and I'll close this issue. There are, however, issues using mosaic datasets and image services as inputs in ArcGIS Pro: https://github.com/Esri/visibility-addin-dotnet/issues/147. closing o

[2017-01-11 23:20] #136 closed

[2017-01-11 23:46] NatalieCampos opened #148 "visiblity add-in doesn't clear coordinates when switching to a new map"
After running the LLOS tool, I switched to a new map.  I expected the coordinates to be cleared when moving to a new map however the coordinates remain in both the observer and the target points.  To clear the old coordinates, I must press cancel.  The coordinates are cleared however when switching between the LLOS and the RLOS tabs.

To reproduce:
1.  run LLOS on a map.
2. Add a new map.
3.  See

[2017-01-11 23:54] elinz commented on #141
@Dbarnes1 Verified that the edits look good in the .pdf included in the 11 Jan 13:51 build of the addin. Closing issue.

[2017-01-11 23:54] #141 closed

[2017-01-12 14:12] dhagens commented on #147
@NatalieCampos, I tested this out using the MosaicDataset that we use for testing in the MilitaryToolsTestData.gdb and it works fine for me.  I'm wondering if there was an issue with how the MosaicDataset was created or something else at play here.  I will test with my own MosaicDataset and report my findings.
![image](https://cloud.githubusercontent.com/assets/13664546/21892905/ebdfc03e-d8a6-11e6

[2017-01-12 14:28] dhagens commented on #147
@NatalieCampos, I created my own MosaicDataset and added two rasters to it - DTED.  I didn't have any issues running the LLOS tool.  We'll have to go over your workflow to see how the MosaicDataset was created.
![image](https://cloud.githubusercontent.com/assets/13664546/21893565/7592d3aa-d8a9-11e6-9ca7-4bbb09c0e30e.png)

[2017-01-12 15:10] dhagens commented on #146
@NatalieCampos this issue has been fixed.  Ready for testing once the code is merged.

[2017-01-12 16:19] dhagens commented on #145
@Dbarnes1, I don't recall that we've ever had crosshairs for LLOS and RLOS tools.  I would suggest that we move this to next iteration since all of our tools work the same way and all would need to be changed.  When using Coordinate Conversion and selecting the MapPoint tool, the cursor is set to the Arrow cursor, the same way it is when using LLOS or RLOS.

[2017-01-12 16:29] dhagens commented on #145
@Dbarnes1, I take that back.  Distance & Direction changes to crosshairs.  I will make the change for Visibility.

[2017-01-12 16:48] Dbarnes1 commented on #145
thanks @dhagens

[2017-01-12 16:51] topowright commented on #94
Verified that the warning message happens in ArcMap.

[2017-01-12 16:51] #94 closed

[2017-01-12 20:35] Dbarnes1 commented on #147
I also can't reproduce this. I changed the documentation to reference that pro supports mosaic datasets. closing.

[2017-01-12 22:17] Dbarnes1 commented on #145
verified fixed. Thanks @dhagens

[2017-01-12 22:17] #145 closed

[2017-01-13 17:35] topowright opened #151 "Symbology not correct for RLOS"
The observer for one observer should be green. After one observer you can move on to other colors. Right now the first observer comes up as red:

![image](https://cloud.githubusercontent.com/assets/5488313/21939198/800054a0-d973-11e6-9514-a7251adfc4d5.png)

[2017-01-13 17:37] topowright commented on #151
@nfeuerstein @lfunkhouser I think that this is a  show stopper.

@dhagens how hard would this be to do.

[2017-01-13 18:45] nfeuerstein commented on #151
@topowright yes, showstopper.  Visible can't be red.

[2017-01-13 19:38] NatalieCampos commented on #148
This is fine as is.

[2017-01-13 19:38] #148 closed

[2017-01-13 19:50] NatalieCampos commented on #146
this is fine as is.

[2017-01-13 19:50] #146 closed

[2017-01-13 22:04] dhagens commented on #151
@topowright, @nfeuerstein - I don't agree that this is a showstopper.  These colors are randomly generated.  It just so happened that it was symbolized with red.  It could have been purple or pink just as easily.  If they want to change the symbology color, the user can change it in the Contents Pane

![image](https://cloud.githubusercontent.com/assets/13664546/21947279/647f0516-d9b2-11e6-95c1-5fe

[2017-01-13 22:06] nfeuerstein commented on #151
@dhagens @topowright did we use to apply symbology to the output?  I had thought that visible was always green and non visible was always red.

[2017-01-13 22:09] dhagens commented on #151
@nfeuerstein - Green and red are used for LLOS.  We use arbitrary colors in RLOS to designate how many observers can see a location.

![image](https://cloud.githubusercontent.com/assets/13664546/21947393/05602668-d9b3-11e6-8712-bd8649cf173c.png)

[2017-01-13 22:09] dhagens commented on #151
![image](https://cloud.githubusercontent.com/assets/13664546/21947413/1680621e-d9b3-11e6-98ee-f7f860863865.png)

[2017-01-13 22:22] nfeuerstein commented on #151
Got it.

[2017-01-13 23:27] topowright commented on #151
verified

[2017-01-13 23:27] #151 closed

[2017-01-13 23:29] #50 closed

[2017-01-14 20:50] NatalieCampos opened #153 "The delete option of the right click dialog doesnt delete the selected coordinate"
Issue: The delete option of the right click dialog doesn't delete the selected coordinate from Observer or Target points.

To reproduce:

1.  Add Observer Points or Target points.
2.  Right click and select delete to delete one of the observer points or the target points.
3. See that the observer/target  point was not deleted.

The delete all option does work, however.

[2017-01-14 20:55] NatalieCampos opened #154 "Remove Clear Graphics Button from LLOS tab - Pro"
The Clear Graphics button on the LLOS sight tab is present and greyed out.  However the tab doesn't draw any graphics except for the target and observer  points.  These  points do not enable the clear graphics button  and so the button should be removed as there are no graphics to be cleared on this tab.

![image](https://cloud.githubusercontent.com/assets/5116835/21958034/ff6af7aa-da58-11e6-95b5-

[2017-01-15 01:05] dfoll commented on #21
This works in the current version.

[2017-01-18 02:54] joebayles opened #156 "Offsets - Change label to Height (above surface)"
In both the LLOS and RLOS tabs, we refer to height as an offset.

![image](https://cloud.githubusercontent.com/assets/5016557/22048962/497201ca-dce5-11e6-8955-3345467fc3d0.png)
![image](https://cloud.githubusercontent.com/assets/5016557/22048976/5a7a5418-dce5-11e6-887a-65e11d292aee.png)

I know there was some discussion about why we use the _offset_ instead of the _height_, but the fact remains th

[2017-01-18 04:02] joebayles opened #157 "Remove Clear Graphics button from RLOS tab"
![image](https://cloud.githubusercontent.com/assets/5016557/22050445/c30498ae-dcef-11e6-9e75-fa3b098bd63d.png)
![image](https://cloud.githubusercontent.com/assets/5016557/22050549/b4570e1c-dcf0-11e6-99f4-1c55b8f5470a.png)

This button cannot be used in the RLOS workflow (it is never enabled), and should be removed.

Update: related to #154

[2017-01-18 04:28] elinz opened #158 "Map Point tool issues (ArcGIS Pro)"
Tested build 17 Jan 2017 13:13.

The Map Point tools on the LLOS and RLOS can't be disabled.

### Current Behavior:
The Observer and Target Map Point tool can't be disabled on the following tools: LLOS and RLOS. All these tools have the following behavior:
- Click on Map Point tool to enable. Result: The tool is made active and provides coordinates from map as you move cursor over map. Cursor is c

[2017-01-18 04:48] elinz opened #159 "Map Point tool issues (ArcMap)"
Tested build 17 Jan 2017 13:13.

The Map Point tools on the LLOS and RLOS can't be disabled.

### Current Behavior:
The Observer and Target Map Point tool can't be disabled on the following tools: LLOS and RLOS. All these tools have the following behavior:
- Click on Map Point tool to enable. Result: The tool is made active and provides coordinates from map as you move cursor over map. Cursor is c

[2017-01-18 04:55] joebayles opened #160 "Specify unit of measure for RLOS distance"
We should either:
- allow the user to specify a unit of measure for linear distance different than the offset units
- move the unit offset/distance unit of measure drop-down outside of either box

I suggest the former.
![image](https://cloud.githubusercontent.com/assets/5016557/22051339/38d7f70e-dcf7-11e6-9a94-ee8219580ca6.png)
![image](https://cloud.githubusercontent.com/assets/5016557/22051346/4

[2017-01-18 05:27] joebayles opened #161 "Clean up result labels"
![image](https://cloud.githubusercontent.com/assets/5016557/22051388/a5b9b6f0-dcf7-11e6-811a-2a60d2ca28ae.png)

**For LLOS Targets:**
- [ ] Capitalize visible
- [x] Change "Can be seen" to "Visible"

**For LLOS Output**
- [x] Capitalize visible

**For LLOS Sight Lines**
- [x] Capitalize visible

**For RLOS Visibility**
- [x] Change "non visible data" to "Not Visible"

**If possible, I would remove

[2017-01-18 15:45] nfeuerstein commented on #159
@elinz @kgonzago if this is fixed in the component add-ins, will it be fixed here?

[2017-01-18 17:09] kgonzago commented on #159
@nfeuerstein are you referring to the single add-in? Once it's fixed at a component level issue it will be reflected in the single add-in.

[2017-01-20 19:29] Dbarnes1 opened #162 "LLOS- 3D Target output labels are difficult to read in ArcGIS Pro"
When you run visibility in a scene in pro, everything runs as expected, the only issue I have is that I can't see target visibility labels against dark backgrounds because the label no longer falls within the green background of the target point:

![image](https://cloud.githubusercontent.com/assets/13024357/22161449/3a87c854-deff-11e6-913c-3d19ea230513.png)

For reference, here is how much cleaner

[2017-01-20 20:36] BobBooth commented on #118
LLOS (ArcMap Addin) coordinate system check not right - I just added a basemap to get the Web Mercator projection, added a UTM projected raster, did LLOS. Get all "Visible" when should not be.
![image](https://cloud.githubusercontent.com/assets/3801392/22164658/320f054e-df26-11e6-9289-b02f3c399e77.png)
@dhagens @elinz @lfunkhouser @nfeuerstein

[2017-01-20 20:44] BobBooth commented on #118
@Dbarnes1  & @dfoll   The LLOS doc in ArcMap PDF says "The input surface data must be in a projected coordinate system, and the data frame must have the same spatial reference as the input surface data." (Creating linear lines of sight p.28)
If we don't actually check in the software to verify that the CS is valid for the analysis, we probably need more detailed info/warning that this will give ba

[2017-01-20 20:54] dhagens commented on #118
Unfortunately, the ArcObjects tools that are being called don't return any type of feedback indicating that the results are incorrect, the call either returns true or false.  This can be updated in the documentation and make the user aware that if the coordinate systems don't match, invalid results may occur.

[2017-01-20 20:56] topowright opened #163 "Document is out of order"
The first set in using the Visibility widget should be "Set up the visibility geoprocessing service" This has to be done before a user can configure the widget.

The solution is move around the topic in the map

[2017-01-20 20:58] #163 closed

[2017-01-20 20:58] topowright commented on #163
This was logged in the widget repo

[2017-01-20 21:23] BobBooth commented on #118
@dhagens - but the RLOS tools check to see if the CS is right - at least somewhat - I get a "something went wrong" message when I try to run it in Web Mercator. LLOS just goes ahead and runs, creating incorrect results.

[2017-01-20 21:39] dhagens commented on #118
@BobBooth, I would suggest testing this out using the GP Tools.  I believe that you will get the same results.

[2017-01-20 21:51] BobBooth commented on #118
@dhagens - Nope, the GP tools seem to produce correct output whether the data frame CS is Web Mercator or UTM.
![llos_gp_utm_results_right](https://cloud.githubusercontent.com/assets/3801392/22166746/960e258e-df30-11e6-91ae-a91387b42ceb.png)
![llos_gp_webmercator_results_right](https://cloud.githubusercontent.com/assets/3801392/22166752/990fb6a8-df30-11e6-9684-2f3c17be7819.png)
@mfunk

[2017-01-20 21:56] dhagens commented on #118
Good catch.  Must have been an untested scenario.  Could you provide the data somewhere to test with?
@nfeuerstein - Your call on this.  My suggestion is that we document that the coordinate systems must match and if they do not match, incorrect results may occur.  This wasn't initially set as a showstopper.

[2017-01-20 22:00] nfeuerstein commented on #118
@dfoll @Dbarnes1 @lfunkhouser let's document this, this release.  Coordinate systems input surface and data frame coordinate systems must match.

[2017-01-20 22:02] dfoll commented on #118
@dhagens @BobBooth doc currently reads ---

"The input surface data must be in a projected coordinate system, and the data frame must have the same spatial reference as the input surface data."

will changing to

"The input surface data must be in a projected coordinate system, and the data frame must have the same spatial reference as the input surface data. If you do not check for this, invalid

[2017-01-20 22:07] dfoll commented on #118
@dhagens @BobBooth @Dbarnes1 i made this change to documentation in only the ArcMap pdf.... will something like this need changed in either the Pro or WAB pdf

[2017-01-20 22:39] BobBooth commented on #118
@dfoll @Dbarnes1 @dhagens - it seems to work correctly regardless of the map CS in Pro.

[2017-01-20 22:39] Dbarnes1 commented on #118
thanks for testing that @BobBooth

[2017-01-20 22:40] BobBooth commented on #118
@dhagens - email me a location where you'd like the data and I'll get you a copy.

[2017-02-21 14:37] csmoore commented on #153
If you first **left** click the point(s) to highlight/select it in the list box - the delete does work.

We just want to make the **right** click also select this list box item before bringing up the delete context menu.

[2017-02-21 21:16] BobBooth opened #169 "RLOS output clipped when run in 3D Map in ArcGIS Pro"
I ran a RLOS (Military Tools 1.0 in ArcGIS Pro 1.4.1) on sample data in 2D view using a radius of 10000 and Observer height of 300. The output looks good. I wanted to check it in 3D, so I used View> Convert 2D to 3D. The output still looked good.
I ran the tool in 3D, and the results looked mostly correct, but the edge of the RLOS circle was cut off before the edge of the surface data. Ran again a

[2017-02-21 21:24] BobBooth opened #170 "Typo Visibility add in (component) readme file"
The readme file for the release for ArcGIS Pro 1.4 contains a typo in the date.
Release Feburary 10, 2017:

Should be:
Release February 10, 2017:

[2017-02-21 21:41] BobBooth commented on #169
This also happens with the Visibility component add-in.
![image](https://cloud.githubusercontent.com/assets/3801392/23186203/4c12065c-f854-11e6-8c71-d928baacb5da.png)
LLOS seems to be working fine in the same area.

[2017-02-22 21:17] topowright opened #171 "LLOS (Linear Linear Line of Sight) fails after being run a ton of times"
LLOS fails when you run it multiple times in a project. There is not a number defined to when it fails, but it does fail.

[2017-02-22 21:33] joebayles opened #172 "Select [an] existing feature(s) as inputs"
As a user, I want to the ability to choose existing features as inputs for LLOS Observers and Targets and RLOS Observers.

- [x] Update applicable workflow topics
   - [x] Create linear line of sight - @dfoll
   - [x] Create radial line of sight - @dfoll
- [ ] ~Update the home page for the August 2018 release~
- [x] Update the Defense what's new - @dfoll
- [x] Create a August 2018 release CMS topi

[2017-02-28 16:40] csmoore commented on #20
Verified

![image](https://cloud.githubusercontent.com/assets/3090809/23414619/99bf3856-fdaa-11e6-91b2-64264fb01108.png)

[2017-02-28 16:40] #20 closed

[2017-02-28 20:54] Dbarnes1 opened #173 "RLOS in 3D in Pro- Input points have too much vertical exaggeration"
When running RLOS in a scene, the tool will run, and the input points show up in the contents pane as 3D layers. This default is ok, except that there appears to be too much vertical exaggeration of the points. I don't see any vertical exaggeration, cartographic offset, or any other default appearence settings enabled when the tool runs, which is why this is confusing. For now, you can just turn i

[2017-03-01 17:47] csmoore commented on #118
@BobBooth & I looked at together & seems to behaving properly - will let Bob close/verify

![image](https://cloud.githubusercontent.com/assets/3090809/23470666/078fd384-fe75-11e6-8006-69de8f63ce2c.png)

![image](https://cloud.githubusercontent.com/assets/3090809/23473109/0b399bb6-fe7d-11e6-9633-a6c546146d3b.png)

[2017-03-01 18:00] BobBooth commented on #118
Verified using the 3/1/17 Military Tools Add-in and the 3/1/17 Visibility component add-in.

[2017-03-01 18:00] #118 closed

[2017-03-02 14:48] csmoore commented on #153
@NatalieCampos - this is ready to test in next daily.

The behavior implemented was:

1. If nothing is selected before the right click, delete will select and delete the current item
2. If items are already selected before the right click, delete will delete those (this is so the multiselect/delete will still work)

[2017-03-02 17:22] BobBooth opened #175 "Unable to add Observer or Target points LLOS or RLOS in Pro Add-In with elevation image service"
I added the "Terrain" image service from "the living atlas", zoomed in close and tried to add LLOS target and observer points, got error message "Error  Point does not fall within the input extent."  Same thing happens with RLOS observer points (using Military Tools Add-in, Visibility tools).
This error message is not helpful.  Are image services supported? If not, disallow them as the Input surfa

[2017-03-02 19:03] BobBooth commented on #175
Tried running one RLOS on the same elevation data - clicked to add one point in the same extent used above, accepted the Add-In defaults.
ArcGIS Pro began processing...
an hour later, it is still not finished.
Pro using 38% of CPU and nearly 4GB of RAM.
![image](https://cloud.githubusercontent.com/assets/3801392/23522436/fc68e3ba-ff50-11e6-9502-51d59b57a4dc.png)

[2017-03-02 20:35] BobBooth commented on #175
Pro eventually crashed, when I was switching back to the Pro window. 25MB crash dump file resulted, FWIW.

[2017-03-03 14:12] csmoore commented on #175
This is good holistic testing and there is a lot going on here so just trying to unpack (and make sure I have correct):

1. Surface Extent is not determined correctly when using the Living Atlas Terrain worldwide mosaic elevation service: http://www.arcgis.com/home/item.html?id=58a541efc59545e6b7137f961d7de883
2. Adding LLOS Observer/Target points (and the analysis) is slow when using NED30m eleva

[2017-03-03 14:19] kgonzago commented on #175
Analysis should **not** be done on an AOI that large. @csmoore you brought up a good enhancement to the add-in: inform the user before executing analysis on a large AOI. User should cull the AOI to an appropriate size before execution. The add-in should not do that for them. The key now is to define what is an acceptable size for an AOI.

[2017-03-03 15:14] BobBooth commented on #175
@kgonzago - True. Analysis should not be done on a huge AOI with image services >>but<< as far as the user is concerned, if they've input a point or three in the currently visible extent, especially for RLOS where the default is a relatively small radius around the input points, why is their analysis AOI any larger than the buffer area around those points?  At maximum, their AOI should be the boun

[2017-03-03 15:52] mfunk commented on #175
Just catching up on this now.
The original problem ""Error Point does not fall within the input extent" is almost always a mis-match between coordinate systems which is why the tools should always pick a spatial reference and project the "lightest" inputs to that spatial reference (in this case the observers/minimum bounding extent/buffer boundary).
As for AOI, how large is too large? A problem we

[2017-03-03 15:59] BobBooth commented on #175
@mfunk - re "Just keep in mind that this is a VISIBILITY analysis and is based on what you can SEE. Trying to do analysis across a continent is not well defined for this tool and not realistic based on sight." - absolutely. But if I'm zoomed to a mountainous area (say 1:10,00 scale) and I've added points to to use for my analysis, I've implicitly defined an AOI - there is no reason to be pulling d

[2017-03-03 16:29] BobBooth commented on #175
So, at 1:11,000 scale, on my monitor, this area is only ~2,700m across.
![image](https://cloud.githubusercontent.com/assets/3801392/23558993/afdf5e1c-0003-11e7-9f11-c334fb7547bc.png)
Pro can load all the cells to display them, reasonably quickly.
If I zoom to the raster resolution:
![image](https://cloud.githubusercontent.com/assets/3801392/23559050/d09797d2-0003-11e7-9507-e1d15c2030b1.png)
then t

[2017-03-09 17:37] csmoore commented on #158
@elinz - this should be ready to verify from daily

[2017-03-09 17:38] csmoore commented on #159
@elinz - this should be ready to verify from daily

[2017-03-10 18:00] csmoore commented on #119
Added in #177

![image](https://cloud.githubusercontent.com/assets/3090809/23806862/5dcd191e-0591-11e7-8cec-045be90be610.png)

[2017-03-13 15:59] csmoore commented on #119
This is ready to test in next build

[2017-03-14 13:47] csmoore commented on #124
Looking at this now, we should be able to address this by setting a better feature mask on the raster output.

Since this is also an issue with the minimum/maximum distance was going to address that also with this issue.

However, there is one small workaround required to get the min/max circular arc/slice/swipe to work with this, the observer points must be in the feature mask (or tool fails with

[2017-03-14 22:56] Dbarnes1 commented on #119
@csmoore @elinz verified while at holistic testing for 10.5.1, closing.

[2017-03-14 22:56] #119 closed

[2017-03-23 15:54] pHill5136 commented on #159
fixed tool icon change on deactivate. pr: https://github.com/Esri/visibility-addin-dotnet/pull/178

[2017-03-27 20:47] csmoore commented on #124
Updated in #179 - looks like:

![image](https://cloud.githubusercontent.com/assets/3090809/24377240/b6435224-130c-11e7-9f96-1b5bd8b638e5.png)

Note: I did *not* use the GP Environment Raster Mask approach mentioned above, because it did not seem to work reliably, I added an Intersect GP call to processing (I didn't realize when I started this was how it was already working in ArcMap)

[2017-03-27 20:48] csmoore commented on #125
Updated in #179, looks like:

![image](https://cloud.githubusercontent.com/assets/3090809/24377367/2bff39c4-130d-11e7-956a-47dfb2b3e95d.png)

[2017-03-28 23:21] Dbarnes1 opened #180 "Documentation - improve instructions for adding the stand-alone add-in to ArcMap"
Currently, there is a gap in instructions between adding the add-in to ArcMap and instructions explaining functionality. We need to add these instructions to the documentation for visibility, as the add-in doesn't automatically get added to the toolbar.

These are the instructions for Coordinate Conversion. They are identical for what we need for Visibility:

_Click Customize Mode under Customize

[2017-03-30 13:41] csmoore commented on #124
Ready to verify from daily build.

[2017-03-30 13:45] csmoore commented on #125
Ready to verify from daily build.

The intersect step actually adds the clipping polygon so the output looks a little better/cleaner than before:

![image](https://cloud.githubusercontent.com/assets/3090809/24507020/622bcc02-152d-11e7-8d8c-e9d425aee298.png)

[2017-03-30 20:34] topowright opened #181 "Construct SightLines fails in ArcGIS Pro 2.0"
When using the visibility add-in the tool fails to create the sight lines.  The public string ObserversLayerName does not seem to be getting the correct path to allow this fc to be written to the database. I used the ArcGIS Pro 2.0 branch.

[2017-03-30 21:28] csmoore commented on #181
When Lyle & I looked at this, it looked like all of the tools that use/reference "LLOS_Observers" "LLOS_Targets" where not using the fully-qualified path, just the Name.

Not sure why this would break now, but we can probably fix by just adding CoreModule.CurrentProject.DefaultGeodatabasePath to the name.

[2017-03-31 13:45] csmoore commented on #147
I believe this is still an issue in some circumstances. I created a simple test mosaic dataset with the source data from:

https://github.com/Esri/military-tools-geoprocessing-toolbox/tree/dev/testdata/Elevation

And ran the latest version of the addin (which has better error reporting) and got:

![image](https://cloud.githubusercontent.com/assets/3090809/24552695/7b8fbd20-15f5-11e7-96fe-19ea7ff9a

[2017-04-27 22:33] Dbarnes1 commented on #159
this issue has been fixed, closing.

[2017-04-27 22:33] #159 closed

[2017-04-27 22:37] Dbarnes1 commented on #124
verified, closing
![image](https://cloud.githubusercontent.com/assets/13024357/25507173/5216fd76-2b5f-11e7-8318-c7f768c300d0.png)

[2017-04-27 22:37] #124 closed

[2017-04-27 22:39] Dbarnes1 commented on #125
verified, closing

[2017-04-27 22:39] #125 closed

[2017-04-28 13:38] lfunkhouser opened #184 "RLOS on image service fails with "calculation cancelled" message"
_From @BobBooth on March 1, 2017 19:42_

I have added an image service of elevation data to my map.
(data at: http://navigator.state.or.us/arcgis/services  /Framework/Elevation_DEM_10)
I can run the Military Tools Add-In LLOS tool against it and it works (two points separated by 10,000 meters).
When I run the Military Tools Add-In RLOS against it (default values 1000 m distance, 2m height), I get

[2017-04-28 13:38] lfunkhouser commented on #184
_From @kgonzago on March 2, 2017 14:37_

@csmoore can you look into this when convenient?

[2017-04-28 13:38] lfunkhouser commented on #184
_From @csmoore on March 2, 2017 14:55_

I was able to repro this - the bug is [here](https://github.com/Esri/visibility-addin-dotnet/blob/dev/source/Visibility/ArcMapAddinVisibility/ViewModels/RLOSViewModel.cs#L987) (needs to also check for ImageServiceLayer)

[2017-04-28 20:07] BobBooth commented on #184
@topowright - that was the one I saw the problem with. I think @csmoore reproduced it with an east coast DEM image service.

[2017-04-28 20:10] topowright commented on #184
@csmoore can you share the service that you tested against?

[2017-04-28 20:10] BobBooth commented on #184
@topowright - the service seems to be running. I had a user connection to it in ArcMap and it is displaying.
![image](https://cloud.githubusercontent.com/assets/3801392/25545527/3be48356-2c2d-11e7-8ee2-8e5854c922c3.png)

[2017-04-28 20:12] topowright commented on #184
I have tried to bring that same service up in a browser with no luck. Can you copy the link one more time. Also, check and see if you get the same result in a browser?

[2017-04-28 20:13] BobBooth commented on #184
![image](https://cloud.githubusercontent.com/assets/3801392/25545561/7048cfa8-2c2d-11e7-8039-4eee6a163dff.png)
http://navigator.state.or.us/ArcGIS/services

[2017-04-28 20:17] BobBooth commented on #184
Looks like their server (Apache) is rejecting simple web connections to it, even though it is available through an ArcGIS Server connection in ArcMap.

[2017-04-28 20:28] topowright commented on #184
I am able to get the service to open in ArcMap, but not is a browser. Not sure if that is an issue.

I am seeing the same issue you are.

The tool should throw the error on both the LLOS and RLOS if the underline projection is the reason; however, it does not. I think we should test against a image service that is projected and see if we get the same results.  This is something that we would have

[2017-04-28 20:36] topowright commented on #112
This has been verfied in build #1404

![image](https://cloud.githubusercontent.com/assets/5488313/25546353/949b6c00-2c17-11e7-8fde-cf90b195ef22.png)

![image](https://cloud.githubusercontent.com/assets/5488313/25546362/9ff0a4ee-2c17-11e7-9d1a-0462b0e28225.png)

[2017-04-28 20:36] #112 closed

[2017-04-28 20:48] topowright commented on #158
I have verified this fix.

[2017-04-28 22:12] #158 closed

[2017-04-28 22:51] NatalieCampos commented on #153
Verified

[2017-04-28 22:51] #153 closed

[2017-04-30 23:58] lfunkhouser opened #186 "BUG-000103064 When using an ArcMap Standard Single Use license, the Radial Line of Sight (RLOS) tool in the Military Tools for ArcGIS in ArcMap add-in returns the following error, "Verify that the Spatial Analyst extension is available and authorized for use.""
_From @lfunkhouser on April 27, 2017 20:2_

<div><div>STEPS TO REPRODUCE:<br><br>1. If needed, download and install the Military Tools addin for ArcMap from here: http://solutions.arcgis.com/defense/help/military-tools/<br>2. In your ArcGIS Administrator, set your license type to Standard Single Use<br>3. Download and unpack the attached map package (see case attachments). This has a raster you ca

[2017-05-01 00:03] topowright commented on #186
Looking closer at this issue when a user tries and run the add-in without having spatial analyst turned on it throws the following error:
![image](https://cloud.githubusercontent.com/assets/5488313/25569186/d3d4fca0-2dc6-11e7-860e-415da9699074.png)
The prompt should tell the user to turn on the spatial analyst extension.

After turning on the extension the tool the runs correctly.

[2017-05-01 00:04] topowright commented on #186
@kgonzago @mfunk @Dbarnes1  is this the same experince you had?

[2017-05-01 14:02] mfunk commented on #186
Not quite the same. Ours was definitely license related, not just having Extension not turned on.

[2017-05-01 14:24] csmoore commented on #186
@topowright not sure which version you are testing with (final, patch, or latest dev), using the latest dev branch on 10.4, if I try to run RLOS with the extensions turned off I get:

![image](https://cloud.githubusercontent.com/assets/3090809/25581858/32b24c46-2e58-11e7-8ea1-20ad0e246120.png)

[2017-05-01 16:07] csmoore commented on #186
Testing some more I did see some bad behavior in some circumstances (including @topowright 's [comment/screenshot](https://github.com/Esri/visibility-addin-dotnet/issues/186#issuecomment-298265954) ) so tried to address in latest PR #187.

[2017-05-01 18:11] topowright commented on #186
I will conduct some further testing in 10.3.1, 10.4.1 , and 10.4.1.

[2017-05-01 20:06] lfunkhouser commented on #186
Assigning to @topowright and adding ```verify``` label for @csmoore's updates

[2017-05-01 22:35] topowright commented on #186
@csmoore @kgonzago I have verfied that this issue is now fixed in build #1413
![image](https://cloud.githubusercontent.com/assets/5488313/25597478/b6e0e31c-2e83-11e7-925e-fa702696eed8.png)

[2017-05-01 22:35] #186 closed

[2017-05-05 18:11] topowright commented on #184
@NatalieCampos I would like you help on this.

[2017-05-05 23:13] topowright commented on #122
I do no think this is a bug.

[2017-05-05 23:20] topowright commented on #40
This has been addressed
![image](https://cloud.githubusercontent.com/assets/5488313/25767502/b63a7cd8-31ae-11e7-8615-cf3919ac4a3d.png)

[2017-05-05 23:20] #40 closed

[2017-05-05 23:29] topowright commented on #172
This will involve a UI change for both tabs. I would think that we would use the same approach that is used when using a feature set.

[2017-05-05 23:45] topowright commented on #171
I have not been able to replicate this on my new machine. I have ran the tool with new and existing inputs 12 times and each time returned results.

[2017-05-05 23:46] #171 closed

[2017-05-05 23:52] topowright commented on #169
This is still an issue with the Add-in.

![image](https://cloud.githubusercontent.com/assets/5488313/25767967/1b13769c-31b3-11e7-82c8-e4c9969b3e0e.png)

From reading the info above this is an issue with the GP tool and the Add-in. I wonder if this is a issue that we cannot control and is a core issue.

[2017-05-05 23:52] topowright commented on #169
The tool runs correctly in 2D , but it does not run correctly in 3D.

[2017-05-10 21:56] dfoll commented on #21
i used ...\NationalIntelligence\DigitalSurfaceModel to test this out on 10.5 using MilitaryTools build 1453, and i am still seeing this

[2017-05-11 06:02] topowright commented on #169
I am also getting this output at times in 2D. I think this is a high priority issue. @nfeuerstein

[2017-05-11 06:14] topowright commented on #169
I see that this is fixed at build #1427

[2017-05-11 06:15] #169 closed

[2017-05-11 15:52] csmoore commented on #172
This will impact much of the UI and workflow. For this case/release it might be best to point the users to the GP tools that do this already: https://github.com/Esri/military-tools-geoprocessing-toolbox

[2017-05-11 15:59] csmoore commented on #156
Just verifying that there is agreement to change this label to "Height" (or "Height Above Surface")

[2017-05-11 16:10] csmoore commented on #21
For all of the image service issues ( #21 #184 #175) - we should probably come up with a consistent, agreed-upon approach. Probably the simplest thing to do in the short term is:

1. Publish a service with a smaller area of interest
2. Fix the bugs found with the case
3. Then add some sort of check to ensure the user doesn't try to do use the addin on too large of an area (maybe 2 X 2 degrees max)

[2017-05-11 16:24] joebayles commented on #156
Besides holistic testing feedback, when demoing this to the Defense User Group, a group of twenty users did not understand that "Offset" meant "Height".

[2017-05-16 16:23] nfeuerstein commented on #156
I agree with @joebayles, given the target audience for these tools, "height" would be better than "offset"

[2017-05-17 19:58] csmoore commented on #184
The original bug that caused the tool to abort has been addressed in #188 ,

I tested this with a service covering a smaller area at: https://nationalsecurity.esri.com/portal/home/item.html?id=7cf1f1dd0a6f4858a6ffacd3d2f7d0d0

The larger issue of the tool taking an extremely long time to complete for a service covering a large area and/or higher resolution is still an issue (I'll open a new one on

[2017-05-17 20:25] NatalieCampos commented on #184
@csmoore would it be possible to only process the visiblity in memory at the image display resolution rather then the source resolution.  Similar to how the raster functions work.

[2017-05-17 22:45] NatalieCampos commented on #184
When using an image service, the following dialog is thrown. However, there are some slight spelling errors.  @csmoore can you please fix then and reassign to me?

![image](https://cloud.githubusercontent.com/assets/5116835/26179301/cbf3ee20-3b17-11e7-977d-44053e686fb7.png)

[2017-05-17 22:59] ACueva commented on #184
FYI @csmoore
https://github.com/Esri/visibility-addin-dotnet/blob/693a0f5f4aaa7bb63d8e5d2d0db659a96c571345/source/Visibility/VisibilityLibrary/Properties/Resources.resx

[2017-05-18 14:43] csmoore commented on #184
@NatalieCampos @ACueva - sorry about that :grimacing: - typo fixed in next build

[2017-05-18 17:48] csmoore commented on #21
This is a repeat/duplicate of #184 (which has more discussion) so closing

[2017-05-18 17:48] #21 closed

[2017-05-19 17:45] NatalieCampos opened #190 "map point tool does not activate on map"
This is seen in build both the full addin (build 1487) and the individual component(9:06am).  To reproduce:
1. Add an elevation layer to map. Either a local dataset or an image service
2. On either the LLOS or the RLOS tab (both are broken)
3. Click the map pointer tool
4. Attempt to click on map

The map pointer tool never activates the cross hairs.  This prevents any points on the map from being

[2017-05-19 18:02] NatalieCampos commented on #190
@csmoore this is only seen in ArcMap.

[2017-05-19 20:05] nfeuerstein opened #191 "BUG-000105205 Error Results not calculated. Check input parameters and try again when using image service with RLOS command in Military Tools Toolbar"
<div><div>
<span><b>Salesforce ID:</b> BUG-000105205</span><br/>
<span><b>Salesforce Submitter:</b> Andrew Johnson</span><br/>
<span><b>Salesforce Submit Date:</b> 5/17/2017 7:56 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Failure/Error</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> (n/a)</span><br/>
<span><b>Work Around:</b> (n/a)</span><br/>
<span>

[2017-05-22 13:40] csmoore commented on #190
I could reproduce this - it  this was broken in #159 / #176 and was a bug with attempting to save the last tool when it was null (no tool current active tool - which happens whenever you enter "customize" mode) - addressed in #192

[2017-05-22 15:38] csmoore commented on #175
I added a temporary workaround to this problem in #193 until we can fully resolve.

The problem that occurs in Pro (not ArcMap) is that when a new point is added, it is checked against the extent of the surface and this call to ImageServiceLayer.QueryExtent() is taking several minutes to return - during which Pro is unresponsive.

To fully fix we should:

1. submit a bug against Pro SDK ImageServi

[2017-05-22 15:51] csmoore commented on #191
This should be resolved with #184

[2017-05-22 16:08] nfeuerstein opened #194 "ENH-000105296 Add ability for Radial Line of Sight to use processing extent from observer points extent"
<div><div>
<span><b>Salesforce ID:</b> ENH-000105296</span><br/>
<span><b>Salesforce Submitter:</b> Andrew Johnson</span><br/>
<span><b>Salesforce Submit Date:</b> 5/19/2017 1:19 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Product</span><br/>
<span><b>Salesforce Severity:</b> Low</span><br/>
<span><b>Repro Data:</b> (n/a)</span><br/>
<span><b>Work Around:</b> 1. Provide the appropriate/compar

[2017-05-22 16:23] csmoore commented on #156
Changed addins' label in #195 -

![image](https://cloud.githubusercontent.com/assets/3090809/26318442/14ea4140-3ee9-11e7-9a67-807677be3d9b.png)

Noticed this was called "Height Above Surface" in the Military Tools GP Tools so just used this for consistency:

![image](https://cloud.githubusercontent.com/assets/3090809/26318327/caea40c2-3ee8-11e7-9905-01194088b95f.png)

[2017-05-22 17:18] NatalieCampos commented on #190
verified.

[2017-05-22 17:18] #190 closed

[2017-05-22 17:22] NatalieCampos commented on #184
type has been fixed.  warning is as below.
https://nationalsecurity.esri.com/portal/home/

[2017-05-22 17:55] NatalieCampos commented on #184
The following caution was added to the "Using Radial Line of Sight" Xmetal topic.  Closing this issue.

[2017-05-22 20:26] NatalieCampos commented on #191
This issue was resolved in #184

[2017-05-22 20:26] #191 closed

[2017-05-22 20:48] NatalieCampos commented on #184
@csmoore I get the warning for LLOS.  I am unsure whether the warning was necessary for LLOS as all the issues related to the processing time and image services were with RLOS. I tested LLOS with the test image service on the national security portal and it ran real quick.  So is this warning necessary for LLOS?

![image](https://cloud.githubusercontent.com/assets/5116835/26327657/15ff1ec8-3ef5-11

[2017-05-22 21:34] csmoore commented on #184
It probably isn't needed for the ArcMap LLOS (which uses a different method and seems to be faster) - it can be removed there if you like (that was the "**may** take a long time" part) - also hopefully it is not still misspelled

[2017-05-22 21:55] NatalieCampos commented on #184
@csmoore no it isnt misspeeled anymore... sorry i used the old screen grab.  Can we remove the warning for LLOS?  I feel like if the warning is unneeded meaning that the use of an image services for LLOS isnt slow... then lets not have it. I think it could cause the user to be hesitant about  using the tool.

[2017-05-23 13:29] csmoore commented on #184
Doing some more testing in ArcMap with this with a larger dataset and LOS over a larger area -
http://www.arcgis.com/home/item.html?id=58a541efc59545e6b7137f961d7de883  - and I think the warning is still appropriate/advisable (it took 5 mins for me, over not a huge area) - but let me know if you still feel strongly about removing this warning.

![image](https://cloud.githubusercontent.com/assets/3

[2017-05-23 16:06] NatalieCampos commented on #184
@csmoore agreed.  Closing issue

[2017-05-23 16:06] #184 closed

[2017-05-23 16:53] nfeuerstein opened #198 "ENH-000105194 Adjust the Visibility tool from the Military Tools for ArcGIS solution in ArcGIS Pro dark theme so the text can be read more easily"
<div><div>
<span><b>Salesforce ID:</b> ENH-000105194</span><br/>
<span><b>Salesforce Submitter:</b> Sarah Bubka</span><br/>
<span><b>Salesforce Submit Date:</b> 5/16/2017 1:20 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Product</span><br/>
<span><b>Salesforce Severity:</b> Low</span><br/>
<span><b>Repro Data:</b> \\esri.com\sf_filestore\PRD\Attachments\Defects\ENH-000105194</span><br/>
<span>

[2017-05-23 22:41] NatalieCampos commented on #154
button has been removed.

[2017-05-23 22:41] #154 closed

[2017-05-24 15:14] topowright commented on #157
I have verified this issue is completed; however, it looks like it was still in verify, but had already been done by @NatalieCampos. Not sure why it still shows open. Closing it now.

[2017-05-24 15:14] #157 closed

[2017-05-24 19:36] nfeuerstein opened #199 "BUG-000105198 The Clear Graphics button does not work on the Visibility tool from the Military tools for ArcGIS solution"
<div><div>
<span><b>Salesforce ID:</b> BUG-000105198</span><br/>
<span><b>Salesforce Submitter:</b> Sarah Bubka</span><br/>
<span><b>Salesforce Submit Date:</b> 5/16/2017 3:10 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Usability</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> \\esri.com\sf_filestore\PRD\Attachments\Defects\BUG-000105198</span><br/>
<

[2017-05-24 19:46] csmoore commented on #199
Duplicate of #157 #154 - assigning for verification

[2017-05-24 21:17] NatalieCampos commented on #199
Verified. Other issues were closed.

[2017-05-24 21:17] #199 closed

[2017-05-25 13:51] csmoore commented on #198
Below is the screenshot from this issue (Note: this issue is also being tracked at: https://github.com/Esri/military-tools-desktop-addins/issues/2 )

But in addition to these, I wasn't able to see added points at all in the observer/target list boxes, not sure if this is a new problem, but will try to fix this also.

![image](https://cloud.githubusercontent.com/assets/3090809/26452774/2a2b59de-412

[2017-05-25 17:33] NatalieCampos commented on #156
verified and closed

[2017-05-25 17:33] #156 closed

[2017-05-25 23:18] dfoll commented on #180
please verify on solutions pages (dev)  and .pdf
pdf locations are in onenote

[2017-05-26 20:04] NatalieCampos commented on #180
@dfoll did you add these doc changes?  I dont see them on SolutionsDev pages.  I also checked xmetal and couldnt find them.  I am going to leave this alone til we get to discuss it.

[2017-05-26 20:08] NatalieCampos commented on #180
@dfoll
I figured it out.  Verified and closing.

[2017-05-26 20:08] #180 closed

[2017-05-30 19:50] NatalieCampos commented on #175
This issue has been resolved with the fix for the image service warning.  Closing issue.

[2017-05-30 19:50] #175 closed

[2017-06-14 00:30] csmoore commented on #181
I think this was just a bug in an early version of Pro 2.0 - I can't seem to repro - can you retest?

[2017-06-14 15:57] dfoll opened #206 "RLOS output results not matching input parameters - ArcMap"
The distance I input for the RLOS is not reflected in the circle polygon that is generated.  See the attached image.  Note I put in a distance of 1000.  I assume based on documentation that it is in Feet, the unit selected in the drop down box.  But when I use the Line measuring tool the distance is calculated to be 92.8 feet.  ???

When I input 10000 the linear distance is 928 feet.

When I switc

[2017-06-14 15:58] dfoll commented on #206
came to us internally through Karl from Mark Wade. He was experiencing this in ArcMap, once I have a 2.0 compatible version of the add-in, i'll check on it in Pro as well

[2017-06-14 20:22] csmoore commented on #170
Assigning to PEs to update this on the Download Items & Download site

[2017-06-14 20:41] NatalieCampos commented on #181
unable to reproduce original error. Closing issue.

[2017-06-14 20:41] #181 closed

[2017-06-14 20:44] NatalieCampos commented on #198
verified  and closed

[2017-06-14 20:44] #198 closed

[2017-06-14 20:47] NatalieCampos commented on #170
@dfoll we should make sure to correct this when we release next

[2017-06-14 20:49] dfoll commented on #170
yes, i saw that and thought the same thing... unless management wants us to fix everything that is already out there, this is really something that just gets fixed at the very end

[2017-06-19 22:26] dfoll commented on #206
@nfeuerstein verified, this is reproducible, writing up steps now it to be fixed

[2017-06-19 22:59] dfoll commented on #206
Repro steps:
1. Add the ElevationUTM_Zone10 to your map
2. Set the data frame coordinate system to WGS_1984_UTM_Zone_10N (you can just import the coordinate system from that data source)
3. Select an observer point
4. Expand observer options
5. use whatever you like for observer and surface height above surface
6. set units to feet
7. set distances of 0 to 1000
8. click OK to run
9. use the measur

[2017-06-19 22:59] dfoll commented on #206
very first write up on this issue is actually just a copy/paste from the customer's email

[2017-06-22 21:07] pHill5136 commented on #206
please verify

[2017-06-22 21:08] ACueva commented on #206
@pHill5136 I don't see a PR associated with this fix.  Do I need to kick off another build to see the changes?

[2017-06-22 21:09] pHill5136 commented on #206
It was merged in the last hour or so.

[2017-06-22 21:43] ACueva commented on #206
Tested.  Measurement seems accurate.  Any inconsistencies can be attributed to the zoom scale and where I clicked on the map.
![2017-06-22_14-42-06](https://user-images.githubusercontent.com/3093940/27457316-20388628-5759-11e7-86fd-fe063621a63d.png)

[2017-06-22 22:16] ACueva commented on #206
@karlterrey Sorry, I tested this in Pro.  Testing in ArcMap now.

[2017-06-22 23:08] ACueva commented on #206
Assigning back to other PE's to test.  I had tested this in Pro and it appears to be working.
Having machine issues that are not allowing me to test this in ArcMap.

[2017-06-22 23:25] NatalieCampos commented on #206
@pHill5136 This is still incorrect in ArcMap.  Following the reproduction steps below, I get a diameter value of 609 ft.  I believe it should be 2000 ft.  See screen grab below.

![image](https://user-images.githubusercontent.com/5116835/27460230-630c1c86-5767-11e7-839a-8c1e19a2ffe2.png)

[2017-06-23 02:20] kgonzago commented on #194
Known limitation will be doc'ed and moving this to version after next.

FYI @nfeuerstein @topowright @lfunkhouser

[2017-06-23 16:46] ACueva commented on #206
@pHill5136 Tested with build 1607. still failing.

[2017-06-23 17:41] ACueva commented on #206
Tested, measurement seems accurate now.
Diameter shows 2000 feet. (Expected)

![2017-06-23_10-39-03](https://user-images.githubusercontent.com/3093940/27493856-3a6eb4b6-5800-11e7-97c9-cb887345a46c.png)

[2017-06-23 17:50] ACueva commented on #206
@NatalieCampos Mind double checking?

[2017-06-23 17:51] ACueva commented on #206
FYI @karlterrey

[2017-06-23 17:58] NatalieCampos commented on #206
@ACueva double checked an mine looks good. Closing issue. @karlterrey

![image](https://user-images.githubusercontent.com/5116835/27494408-9aa6f3f0-5802-11e7-8581-e4a7d55cec95.png)

[2017-06-23 17:58] #206 closed

[2017-06-24 04:30] topowright commented on #194
After reading the documentation that is provided by core we decided not to list this in our documentation. It would be a plus if we were able to address this issue in future releases by thinking about the extent of the analysis for the user; however, there are not actions for this release.  I am switching this to as designed, enhancement and version after next.

[2017-06-24 04:31] topowright commented on #194
@nfeuerstein I think we are putting everything to version after next and then you would figure out what is going to be addressed in our next release. If this is not the case please excuse the mistake.

[2017-06-26 13:14] adgiles opened #210 "RLOS - Tooltips not updating when angle unit changed"
When you change the unit of measure for angles from say degrees to mils the corresponding tooltips do not update as required:

![untitled](https://user-images.githubusercontent.com/3740334/27540892-b23b3c48-5a36-11e7-8930-e2ce12339260.png)

[2017-06-26 13:40] adgiles opened #211 "RLOS - Using Mils for Horizontal FOV gives incorrect results"
The results returned when using mils are incorrect (Update: 5 degrees off for ending angle), the following two examples should be 90 degrees for 1600 mils and 180 degrees for 3200 mils:

![1](https://user-images.githubusercontent.com/3740334/27541862-66618198-5a3a-11e7-80bc-1d69f83e9cf5.png)
![2](https://user-images.githubusercontent.com/3740334/27541864-6805d38c-5a3a-11e7-984a-e3d35708e66b.png)

[2017-06-26 14:12] adgiles opened #212 "RLOS - Using Grads for Horizontal FOV gives incorrect results"
The results returned when using 399 grads are incorrect (359.1 degrees) (Update: the range fan displayed is off by 5 degrees)

![399](https://user-images.githubusercontent.com/3740334/27543309-bdff5660-5a3e-11e7-9e7e-75b9a723f309.png)

[2017-06-26 14:14] adgiles opened #213 "RLOS - Cannot execute tool if using 400 Grads for Horizontal FOV"
If you use 400 grads (360 degrees) the tool returns an error informing the user to check input parameters

[2017-06-26 14:21] adgiles opened #214 "RLOS - Cannot execute tool if using 100 Grads for Vertical FOV"
If you use 100 grads (90 degrees) for the **to** field in the vertical FOV the tool returns an error informing the user to check input parameters

[2017-06-27 10:53] adgiles opened #215 "RLOS - Validation not updating when angle unit changed"
When you change the unit of measure for angles from say degrees to mils the corresponding validation does not update as required, this is similar to issue #210 for Desktop but within Pro the OK button is disabled so the tool cannot be run:

![capture](https://user-images.githubusercontent.com/3740334/27584279-31814672-5aec-11e7-952b-0dd0c2606266.PNG)

![capture](https://user-images.githubuserconte

[2017-06-27 11:18] adgiles opened #216 "RLOS - No style applied to output"
**Background**
When most users run a RLOS they expect either a return of red areas where I cannot see and green areas where I can see. This can be a bit trickier when having the issues of multiple observers.

**Current State:**
We let ArcGIS Pro and ArcMap choose the default symobology for the output
When you run a RLOS no style is applied to the result, instead a default color is applied, not gre

[2017-06-27 16:22] NatalieCampos opened #217 "add build number to the ArcGIS Pro add in"
It would be useful for the add in to have the build number associated with it similar to ArcMap.  This will help ensure we know what build number we are testing or what build we found the issues in.

This is the about ArcGIS Desktop dialog.  It contains the build number 6491.
![image](https://user-images.githubusercontent.com/5116835/27596508-98b06a26-5b14-11e7-8ef3-d69c44eea936.png)
Adding the bu

[2017-06-27 19:36] csmoore commented on #216
Can you provide a screenshot and steps, I do not see this same issue (but the colors in the style applied may not be the desired ones and need changed):

![image](https://user-images.githubusercontent.com/3090809/27606437-42a371e8-5b4e-11e7-8e6b-634ef3f8d046.png)

[2017-06-27 19:41] csmoore commented on #211
The conversion factor was incorrect for this so this one should be an easy fix:

![image](https://user-images.githubusercontent.com/3090809/27606613-01e57db2-5b4f-11e7-8986-8713d57a94f5.png)

[2017-06-27 19:47] adgiles commented on #216
It's the colors I am referencing, in desktop you get green for visible, red for not visible

[2017-06-27 20:05] csmoore commented on #212
This appears to be the same range fan resolution issue reported in https://github.com/Esri/visibility-addin-dotnet/issues/211#issuecomment-311463577

![image](https://user-images.githubusercontent.com/3090809/27607543-3006aa2e-5b52-11e7-8e5b-735d04e5d7d9.png)

[2017-06-27 20:40] csmoore commented on #210
These tooltips (versus the error/validation messages) are typically static - should I just change this to something more generic like: "Valid vertical angular range"

[2017-06-27 21:50] dfoll commented on #215
verified

[2017-06-27 21:50] #215 closed

[2017-06-27 21:55] dfoll commented on #212
verified fixed in build 1615

[2017-06-27 21:56] #212 closed

[2017-06-27 21:59] dfoll commented on #211
verified fix with build 1615 in pro and arcmap

[2017-06-27 22:05] #211 closed

[2017-06-27 22:09] dfoll commented on #210
verified fixed with build 1615 in arcmap and pro.

@csmoore the "valid vertical angle" verbage is good for now. in the future an enhancement for the tooltip to understand which unit you have selected in the drop-down would be even cooler if that is possible

[2017-06-27 22:09] #210 closed

[2017-06-27 22:41] lfunkhouser commented on #213
can no longer reproduce after build 1615 in pro or arcmap. think previous bug fix that @csmoore did fixed this one as well. [df]

[2017-06-27 22:41] #213 closed

[2017-06-27 22:41] lfunkhouser commented on #214
can no longer reproduce after build 1615 in pro or arcmap. think previous bug fix that @csmoore did fixed this one as well. [df]

[2017-06-27 22:41] #214 closed

[2017-06-29 14:57] lfunkhouser commented on #170
Fixed on \\<server archive>\disl\Development\Commercial\ReleaseStaging\June2017Release\Components\Visibility

[2017-07-06 20:50] #170 closed

[2017-07-07 17:57] lfunkhouser opened #221 "Clean up/Delete feature branches"
Delete the feature branches that were merged into the code and released. If the branch is still active, please update the name of the branch using the feature branch naming convention,  `<first initial><last initial>/<issue#>-<short description>`.

- [x] csm/add-better-gp-error-msgs
- [x] csm/clip-fov-issues-124-125
- [x] csm/dark-mode-list-box
- [x] csm/mils-grads-issues
- [x] csm/patch-extension

[2017-07-10 13:19] csmoore commented on #221
Done

These are the version/release maintenance branches created as part of the release process so should remain:
v2.0
v2.1

Note: Also v3.0 branch should be created (just noticed this in this repo, but this is probably also true for the other repos)

[2017-08-17 15:21] lfunkhouser opened #222 "BUG-000107223 Error while running the Viewshed tool from the Military Tools for ArcGIS in ArcMap 10.5.1"
<div><div>
<span><b>Salesforce ID:</b> BUG-000107223</span><br/>
<span><b>Salesforce Submitter:</b> Sayak Nag</span><br/>
<span><b>Salesforce Submit Date:</b> 8/09/2017 8:19 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Failure/Error</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> ...\sf_filestore\PRD\Attachments\Defects\BUG-000107223</span><br/>
<span>

[2017-08-24 18:18] lfunkhouser opened #223 "BUG-000107342 There is a typographical error in Viewshed.py script from the Military Tools for ArcGIS 10.5.1"
<div><div>
<span><b>Salesforce ID:</b> BUG-000107342</span><br/>
<span><b>Salesforce Submitter:</b> Emad Mohammed</span><br/>
<span><b>Salesforce Submit Date:</b> 8/14/2017 9:06 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Failure/Error</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> (n/a)</span><br/>
<span><b>Work Around:</b> (n/a)</span><br/>
<span><

[2017-08-31 18:25] joebayles commented on #223
Has anyone talked about this? What is the typographical error?

[2017-09-06 00:55] csmoore opened #225 "Visibility Input Point Schema - Radius 1 & 2 set as short int"
_From @adgiles on August 24, 2017 9:27_

### Widget

Visibility (corresponding GP Service)

### Version of widget

All

### Bug or Enhancement

The two fields Radius1 and Radius2 in the input point schema are set to number type short int which works fine until you want do perform a viewshed over 32,767 meters (which I know is a long way out for visibility) but users may want to for particular use

[2017-09-06 00:56] csmoore opened #226 "Visibility - Observer Height Measurement Default"
_From @joebayles on July 8, 2017 20:15_

### Widget
Visibility
### Version of widget
2.0
### Bug or Enhancement
Observer Height defaults to Kilometers
### Repo Steps or Enhancement details
Opened a brand new install of the visibility widget, observer height defaults to 2 kilometers:
![image](https://user-images.githubusercontent.com/5016557/27988748-0dd77146-63df-11e7-8c21-8a86f6eeeea2.png)

Sugge

[2017-09-06 00:56] csmoore commented on #226
_From @topowright on July 8, 2017 20:19_

Good catch!

[2017-09-06 00:56] csmoore commented on #226
_From @adgiles on July 10, 2017 7:58_

Updated in dev branch

[2017-09-06 00:56] csmoore commented on #226
_From @lfunkhouser on July 10, 2017 23:7_

@adgiles Can you revert the change and create a branch for this change, naming it adg/#922-obs-height or something similiar. Thanks.

[2017-09-06 00:56] csmoore commented on #226
_From @adgiles on July 11, 2017 7:35_

@lfunkhouser change reverted and branch created, PR #923 waiting to be verified

[2017-09-06 00:56] csmoore commented on #226
_From @adgiles on August 14, 2017 17:17_

Please can somebody verify

[2017-09-06 00:57] csmoore opened #227 "Visibility widget needs to support image services"
_From @nfeuerstein on May 18, 2017 17:23_

### Widget
Visibility Widget

### Version of widget
1.0

### Bug or Enhancement
Visibility widget needs to support image services.

### Repo Steps or Enhancement details

_Copied from original issue: Esri/solutions-webappbuilder-widgets#878_

[2017-09-06 00:59] csmoore opened #228 "Visibility - Improve Error Message(s)"
_From @joebayles on May 11, 2017 21:15_

### Widget
Visibility

### Version of widget
1.0.0

### Bug or Enhancement
Improve error messages

### Repo Steps or Enhancement details
Whether I query outside the extent of the viewshed GP service or I configure with and query an invalid service (i.e. an elevation service), I receive the same error message:

Suggest:
- [ ] Add a check during configuration

[2017-09-06 00:59] csmoore commented on #228
_From @kgonzago on May 12, 2017 11:33_

@adgiles FYI

[2017-09-06 00:59] csmoore commented on #228
_From @NatalieCampos on May 15, 2017 22:30_

assigning to @nfeuerstein for priority.

[2017-09-06 00:59] csmoore commented on #228
_From @adgiles on May 24, 2017 11:36_

Added checks for a valid GP Service in both the configuration settings and the widget itself.

Within the configuration settings the user will be shown:

![untitled](https://cloud.githubusercontent.com/assets/3740334/26401345/5c10405c-407d-11e7-9773-67fb4bbfb3a5.png)

and the widget configuration will not be saved.

If somebody tries to manually change the UR

[2017-09-06 00:59] csmoore commented on #228
_From @nfeuerstein on May 26, 2017 15:34_

Needs to be verified, but removing the verify tag because it's confusing the waffleboard experience. We should probably look into that.

[2017-09-08 20:39] csmoore opened #229 "Visibility Widget scratch.gdb contains content."
_From @ACueva on June 20, 2017 21:8_

### Widget
Visibility
### Version of widget
2.1
### Bug or Enhancement
Bug
### Repo Steps or Enhancement details

Scratch.gdb contained in the Visibility widget contains content.  IMO, it shouldn't.

[code]

[2017-09-08 20:39] csmoore commented on #229
_From @ACueva on June 20, 2017 21:8_

FYI @nfeuerstein

[2017-09-08 20:39] csmoore commented on #229
_From @nfeuerstein on June 20, 2017 21:11_

Agreed. It should not.

[2017-09-08 20:39] csmoore commented on #229
_From @ACueva on June 20, 2017 21:35_

FYI @nfeuerstein, spoke with @topowright.  It appears the .gdb has content that is needed for the GP tool to work.  We may need to consider renaming the .gdb as it's not really a true scratch workspace.

[2017-09-08 20:39] csmoore commented on #229
_From @topowright on June 21, 2017 18:48_

I am going to see how easy this is to do.

[2017-09-28 16:46] BobBooth opened #230 "Visibility add-in RLOS and LLOS no input point symbols appear on map but added to coord lists"
I have a local DEM for AK on my map, projected to World Mercator.
When I drop points on the map they are not symbolized, but I see the coordinates in the coordinate lists.
![image](https://user-images.githubusercontent.com/3801392/30979150-c781b880-a44a-11e7-91fe-665fb59cc9cd.png)
RLOS creates results.
LLOS appears not to run.
Testing in ArcMap 10.6, Visibility add-in 2.1.1

[2017-09-28 16:57] BobBooth commented on #230
This seems to have something to do with having added the original File-based raster that I downloaded, which is in Geographic (GCS Nad83), then changing the coordinate system data frame to Web Mercator, then exporting the raster using the data frame projection to GDB raster, then removing the original.
If I just add the projected raster to a blank map, the tools seem to work fine, the points show

[2017-09-28 18:32] BobBooth commented on #230
This is user error. The input surfaces had the same name (different locations) and I had the wrong one selected in the Input Surface.

[2017-09-28 18:32] #230 closed

[2017-09-29 14:38] csmoore opened #231 "LLOS and RLOS slow using image services in Addins"
LLOS and RLOS are slow using image services. Even with reasonably sized image services (such as county-wide data).

Example run times (depending on service/AOI size):
LLOS takes 1-20mins
RLOS take 20mins-2 hours

There is a warning that pops-up before you run (when you press OK to execute)

Repro steps:

1. Add projected image service to ArcMap or Pro (note: not every image service will be project

[2017-10-03 17:20] lfunkhouser opened #232 "Transfer labels"
_From @lfunkhouser on October 3, 2017 17:19_

_From @lfunkhouser on October 3, 2017 17:19_

_From @lfunkhouser on October 3, 2017 17:1_

_From @lfunkhouser on October 3, 2017 17:0_

_From @lfunkhouser on October 3, 2017 16:48_

_From @lfunkhouser on October 2, 2017 15:24_

This issue is used to transfer issues to another repo

_Copied from original issue: Esri/solutions-grg-widget#119_

_Copied fr

[2017-10-03 17:20] lfunkhouser commented on #232
This issue was moved to ArcGIS/solutions-erg-widget#8

[2017-10-03 17:20] lfunkhouser commented on #232
This issue was moved to Esri/solutions-geoevent-java#78

[2017-10-03 17:21] lfunkhouser commented on #232
This issue was moved to Esri/military-symbol-editor-addin-wpf#196

[2017-10-03 17:21] #232 closed

[2017-10-05 19:27] jmccausland opened #233 "Static Code Analyzer : Null Dereference"
the SCA report shows there are possible Null Dereference issues in the code.

Most of the flagged code is due to query interfaces via the 'as' keyword.  When it is safe to do a direct cast to an Esri API Interface, we should do that.  Everywhere else, null check and refactor if needed.

The ReSharper tool can assist with this exercise and minimize these issues in the future.

- when safe, change t

[2017-10-05 19:33] jmccausland opened #234 "Static Code Analyzer : Error Handling : Overly Broad Catch"
- update code to only handle known exceptions
- let the rest bubble up, remove catch(Exception ex)

[2017-10-05 19:35] jmccausland opened #235 "Static Code Analyzer : Empty Catch Block"
- remove try/catch or comment if needed but does nothing

[2017-10-05 19:37] jmccausland opened #236 "Static Code Analyzer : Logging Practice with use of system output stream"
- remove outputs or wrap with
```#if DEBUG ```
```#endif```

[2017-10-05 19:39] jmccausland opened #237 "Static Code Analyzer : System Information Leak"
- these are all Console.Writeline calls, should be removed or marked for DEBUG only
```#if DEBUG```
```#endif```

[2017-10-05 19:42] jmccausland opened #238 "Static Code Analyzer : File Separator"
- change "\\" to Path.DirectorySeparatorChar

[2017-10-05 19:46] jmccausland opened #239 "Static Code Analyzer : Dead code"
- remove or ignore

[2017-10-05 19:49] jmccausland opened #240 "Static Code Analyzer : Streams"
- fix with using() statement

```using( var fs = new Stream())```
```{```
```    // do something```
```}```

[2017-10-05 19:51] jmccausland opened #241 "Static Code Analyzer : Missing check against null"
- add null checks

[2017-11-01 18:28] joebayles opened #242 "RLOS - Cutting off viewsheds when a user brings in a non projected data layer"
**Situation:**
When a user adds a non projected layer to the map first it is setting something that the add-in will use for that project going forward. Currently here are the steps to replicate:

1. Start with a new project with a map
2. Bring in a set of data that is not projected
3. Try and run the Vis RLOS tool and you will get the error of the data not being projected.
4. Add another elevation

[2017-11-01 18:46] BobBooth commented on #242
@joebayles - I wonder if it is related to this issue that I was seeing:
https://github.com/Esri/visibility-addin-dotnet/issues/169

[2017-11-02 21:39] topowright commented on #242
I am having different results than @joebayles and @nfeuerstein. I see the following:
![image](https://user-images.githubusercontent.com/5488313/32351666-692e33c4-bfdb-11e7-8864-10f602aaa155.png)

I show that this is my install information for the add-in:
![image](https://user-images.githubusercontent.com/5488313/32351683-8058c23a-bfdb-11e7-8855-cf18dfa7f363.png)

I am going to check the current 2.

[2017-11-02 23:03] Dbarnes1 commented on #242
I'm on released and I ran default settings and I got this:
![image](https://user-images.githubusercontent.com/13024357/32354401-d4328ed0-bfe6-11e7-8dcc-0649b84b3c70.png)

Then I tried with a fan and got this:
![image](https://user-images.githubusercontent.com/13024357/32354524-4cb9f816-bfe7-11e7-8433-eb74161ff111.png)

Running it on Pro 2.0, but not a fresh install or pro project by any means. I'm

[2017-11-02 23:13] topowright commented on #242
I wonder if there is something being cached when we move from one an old add-in to a new one. I am not working on a fresh install, but I did download our current release and received good results from the 360 radius and by setting  a FoV. @jmccausland could this be a problem with an older version being present and not installing the newest version?

[2017-11-06 03:54] joebayles commented on #242
Assigning to me, I'll check version in the morning.

[2017-11-06 21:18] joebayles commented on #242
![image](https://user-images.githubusercontent.com/5016557/32464471-025a6100-c2f5-11e7-843c-f7996943232a.png)

[2017-11-09 16:29] Dbarnes1 commented on #242
So we did some testing against this last night and @elinz realized what the issue was. In the gp environments dialog, under Processing Extent. We need to update the default processing extent of the visibility add-in so that it is large enough that it won't clip the output layers.

![image](https://user-images.githubusercontent.com/13024357/32616652-b2aa1274-c527-11e7-9606-e467a1ff44c9.png)

In the

[2017-11-09 16:49] topowright opened #243 "Improve the Documentation for setting up the GP task for the Visibility Widget"
Currently I have received multiple complaints on the documentation is written for standing up the visibility service that empowers the Visibility widget.

The steps are clear if you have ever published a gp service before; however, there are somethings that we need to either explain or point to core documentation on to allow the user to have an easier time using this widget:
- [ ] Add information

[2017-11-09 18:31] joebayles commented on #242
Here's an additional screenshot I took so I could write what Dan wrote above. Unassigning myself.

![image](https://user-images.githubusercontent.com/5016557/32622848-1efd3148-c539-11e7-896a-77487dc8e36b.png)

[2017-11-22 18:16] lfunkhouser commented on #194
Removing `As Designed` label - This label is reserved for closing an issue because we will not address it due to the intended way the feature was designed. It is an enhancement request logged by a customer that we will investigate further.

[2017-11-22 18:22] lfunkhouser commented on #221
Verified and closing issue.

[2017-11-22 18:22] #221 closed

[2017-11-28 18:55] lfunkhouser commented on #231
@csmoore Can you provide some more information. What can be done about this issue? What is the proposed solution? What are the limitations, if any, with core software?

[2017-11-28 19:01] BobBooth commented on #231
I think we need to only request the tiles within the bounding box  of the input features. I don't know, but I suspect that a bigger area is being pulled down for the analysis.

[2017-11-28 19:22] csmoore commented on #231
It would likely involve first extracting the server data locally (Note: this option must be enabled on the server data for this to work): http://desktop.arcgis.com/en/arcmap/10.3/tools/server-toolbox/extract-data.htm

This would still be a client-side solution with a several minute lag before processing would start (depending on clip size) - so we might also want to set a smaller maximum range als

[2017-11-29 18:56] topowright commented on #228
I can verify that if the widget is configred with a GP Service that is then non  reachable you get this:

![image](https://user-images.githubusercontent.com/5488313/33393290-972491a6-d4f3-11e7-9cef-d9fb86a41008.png)

I am not sure how to test the other aspects of this feature.  I think this can be marked as complete.  @csmoore  please let me know what you think.

[2017-11-29 23:33] topowright commented on #242
This issue should be addressed by core documentation.

http://pro.arcgis.com/en/pro-app/tool-reference/environment-settings/output-extent.htm

We should attempt to not rewrite documentation that is already avaiable in core.

[2017-11-30 00:01] joebayles commented on #242
Agreed, but if it baffled enough people on our team, I imagine it will do something similar to our users.

Suggest adding a note to the Visibility documentation.

[2017-11-30 16:48] topowright commented on #242
This is the statement that has been added to the documentation:

If the  polygons for RLOS have  ends that  have been cut off, check your geoprocessing environment variables. It could be set to something other than default, which would create this result.

[2017-11-30 17:20] nfeuerstein commented on #242
@topowright with the setting set at "default" we are getting those results: the ends cut off.

[2017-11-30 17:57] topowright commented on #242
@nfeuerstein when we get a chance lets sit together and look at this issue. Not sure how to reproduce it on my end and its confusing if that did not fix your issue.

[2017-11-30 18:37] topowright commented on #228
Closing this issue because we now have a prompt when the service is not available.

[2017-11-30 18:37] #228 closed

[2017-11-30 23:25] topowright commented on #227
If the image service end point needs to be a input on the configuration page.

[2017-12-01 00:01] topowright commented on #242
Did some more testing today and this is what I can replicate:

With using the

![image](https://user-images.githubusercontent.com/5488313/33461519-ab934106-d5e7-11e7-8eea-abc8da8b8e67.png)

[2017-12-01 00:05] topowright commented on #242
**With the Default set:**
![image](https://user-images.githubusercontent.com/5488313/33461643-35528bb8-d5e8-11e7-8f9f-ea1f01828994.png)

[2017-12-01 09:45] adgiles commented on #225
Addressed in PR #244

[2017-12-01 09:54] adgiles commented on #226
Looks like this change has already made it into the dev branch of this repo, maybe when the repos were copied over. I think this issue is good to close.

[2017-12-01 10:31] adgiles commented on #227
We discussed this at length a while ago, I am still unsure of what is required here.

The visibility widget relies on an underlying GP Service to function, that is published using ArcGIS Server. This GP service is configured to look at elevation data that is accessible from the ArcGIS Server hosting the GP Service.

From what I remember this requirement came about as a customer did not have their

[2017-12-01 14:31] adgiles commented on #229
Addressed in PR #245

Changed database name from scratch to schema.

I have looked at the published documentation and there is no reference made to the database name

[2017-12-01 16:29] csmoore commented on #222
Using the test data provided ( Demoraster.tif at `\sf_filestore\PRD\Attachments\Defects\BUG-000107223`) I was not able to reproduce this issue with the test data provided, however I did get another error:

![image](https://user-images.githubusercontent.com/3090809/33491709-12383780-d689-11e7-86c8-1af1e0fa76b7.png)

That is fixed in #246 - this seems to run fine for me now and should be ready to ve

[2017-12-01 20:00] csmoore commented on #225
Verified

[2017-12-01 20:00] #225 closed

[2017-12-01 20:02] csmoore commented on #229
Verified

![image](https://user-images.githubusercontent.com/3090809/33500934-aca2cae6-d6a8-11e7-8cac-6024e23c41ec.png)

[2017-12-01 20:02] #229 closed

[2017-12-05 08:15] topowright commented on #242
I have ran the add-in 20 times and had no luck seeing this issue:
![image](https://user-images.githubusercontent.com/5488313/33596641-3933a9da-d951-11e7-8106-90cdeb26e7ff.png)
Closing the issue.

[2017-12-05 21:12] csmoore opened #247 "Crash Re-launching ArcMap from mxd with Viz Dock Window open previously"
Re-launching ArcMap from mxd with Viz Dock Window open previously causes crash:

Repro Steps:
1. From the Military Tools Toolbar
2. Open Addin Dock Window
3. Close ArcMap
4. Rerun ArcMap by **double-clicking mxd** (see: https://github.com/Esri/military-tools-desktop-addins/issues/33)
5. crash

Related:
https://github.com/Esri/military-tools-desktop-addins/issues/33
https://github.com/Esri/distance

[2017-12-06 21:14] BobBooth opened #248 "Linear Line of Sight produces no results if data frame coordinate system is changed in a session"
Doing checklist testing, I added the released Visibility Add-In (http://appsforms.esri.com/products/download/index.cfm?fuseaction=download.main&downloadid=2015) to the latest ArcMap 10.6 (8319).
I added SRTM 30 m data for the AOI from Military Tools test data. That raster is in GCS_WGS_1984
I attempted to use the Visibility LLOS tool on the data, but got the warning that it was not projected.
I ch

[2017-12-06 21:15] BobBooth commented on #248
@lfunkhouser  @topowright  @csmoore

[2017-12-06 23:57] csmoore commented on #247
Ready to QA from `Development\Commercial\MilitaryToolsForArcGIS\12-06-2017_1649`

[2017-12-07 16:56] csmoore commented on #248
@BobBooth - I seem to be able to reproduce this with some difficulty. It seems to be related to the step of actually changing the projection of the data frame. When this happens, none of the addins seems to be able to add graphics to the graphics container (though all other processing behaves as normal - you just can't see it).

Here were my repro steps (10.6.8271):

1. Launch ArcMap
2. Add a loca

[2017-12-07 17:23] BobBooth commented on #248
@csmoore - thanks for narrowing it down - I confirm that is has to do with changing the data frame projection. I can use the same UTM-projected elevation data and the tool works, if I just add the projected data to the map.

[2017-12-07 17:24] BobBooth commented on #248
@csmoore  - updated the title.

[2017-12-07 21:40] csmoore commented on #248
This seems to be a GraphicsContainer bug at 10.6. I can reproduce this same issue with [the Graphics Container SDK sample](https://github.com/Esri/arcobjects-sdk-community-samples/tree/master/Net/Framework/CustomUIElements) :

1. Launch ArcMap
2. Add a local basemap: C:\Program Files (x86)\ArcGIS\Desktop10.6\TemplateData\TemplateData.gdb\World\continent
3. Set the Data Frame coordinate system to P

[2017-12-08 18:50] lfunkhouser commented on #248
@ACueva please work with @csmoore to understand and follow up with this issue ASAP.

[2017-12-08 20:18] BobBooth opened #250 "RLOS in 3D ArcGIS Pro 2.1 produces empty output results"
Testing the current Visibility Add-In with Pro 2.1, in a 3D scene, RLOS is producing empty output. Using local data UTM projected (though the Pro 3D view properties say GCS_WGS84).
![image](https://user-images.githubusercontent.com/3801392/33783438-c9013fb0-dc2a-11e7-9eb7-fb9f1fe04abd.png)

You can add points, set parameters, and run the process, but the layers that are added to the scene/TOC are

[2017-12-08 20:21] BobBooth commented on #250
@ACueva @csmoore

[2017-12-08 20:22] BobBooth commented on #250
Note in the image there are several sets of points that I'd added, tried creating RLOS for them. Results layers added each time, but all the tables are empty.

[2017-12-08 20:35] BobBooth commented on #250
I think this was user error.
I had both the visibility add in and military tools installed.
Uninstalled both, got the latest visibility add in, and it seems to be working correctly now.

[2017-12-08 20:46] BobBooth commented on #250
Nope. It is definitely not working correctly. It seemed to work the first  time, but subsequent attempts fail. This is an actual problem.

[2017-12-08 23:52] ACueva commented on #248
Spoke with POC: David B.

The feedback I received can be summed up to "Why are you running LOS on the world?".

@csmoore @BobBooth We need to test this further to see if what we actually encountered is more of a work-flow issue.  The part that does concern me is if bad values are entered, the behavior should not be that you can't do anything else with our tools.

Let's touch base on Monday to see

[2017-12-11 18:36] BobBooth commented on #248
This is a bug with 10.6 that is not present when using the Visibility Add-In with 10.3.1 (available on the test VM I had).
Steps to repro:
Add test data (n36.dt2) from solutions GP tools (military-tools-geoprocessing-toolbox/tree/dev/testdata/Elevation/Source/SRTM30M)
![image](https://user-images.githubusercontent.com/3801392/33846992-1af627f6-de77-11e7-8ff3-92895165b1b5.png)
The add-in gives "Ple

[2017-12-11 18:37] BobBooth commented on #248
@ACueva  your POC missed the point.
Not running it on the world.

[2017-12-11 20:03] topowright commented on #248
@ACueva I think the person you spoke with is David Burrows

[2017-12-11 20:25] csmoore commented on #248
The main point we wanted to make to them is that this same issue is present using the **SDK sample** if we change the map projection - [detailed steps with the ArcObjects SDK sample are above](https://github.com/Esri/visibility-addin-dotnet/issues/248#issuecomment-350102576)

[2017-12-12 02:48] topowright commented on #248
I am not able to reproduce this issue at 10.6 build 8321. My steps to check this issue is:

1. Install the Visibility Add-In
2. Add the button to a toolbar
Open the add-in
Add the SRTM30 - n36.dt2 from the source testing folder
Drop points on the map
Attempt to run
Result: Your data is not projected
Remove the layer and add in the projected UTM Zone 10 layer from the Military Tools geodatabase
Rem

[2017-12-12 02:50] topowright commented on #248
I would like to run thru this workflow with you @BobBooth and see your workflow as well. For now I am going to move this to verify being that I have not seen any movement on this through out the day.

[2017-12-12 02:54] topowright commented on #248
@BobBooth I just saw your comments that you cannot replicate this with 10.3.1 and I can no longer replicate this issue with 0.6 build 8321. I think this should be closed.

[2017-12-12 06:28] topowright opened #251 "RLOS returns different area results"
**Background**
When running the RLOS add-in in ArcGIS Pro 2.1 with two different surfaces that have have either different projection or coordinate systems return different area results. I used the test data mosaic data set and the projected elevation layer.

**Current State**
![image](https://user-images.githubusercontent.com/5488313/33870432-997de0e6-dec2-11e7-9553-890f31e3ce84.png)

**Steps to r

[2017-12-12 16:47] BobBooth commented on #248
@topowright - It is non-repro on 10.3.1, but it is definitely still a problem on 10.6 (just installed 8321, and it is failing in exactly the same way).
Steps to repro:
1) Add the n36.dt2 raster to the map. (data frame will be set to GCS_WGS_84)
2) Add observer and target points.
3) attempt to run - get  "please project" message.
4) Set the data frame coord system to a projected one (I used NAD_198

[2017-12-12 20:21] topowright commented on #242
I can now reproduce this issue in ArcGIS Pro 2.1. Gathering info to figure out the problem now.

[2017-12-12 21:25] joebayles commented on #242
@topowright, as far as I can tell, the issue is that either default extent isn't honoring the tool output, or the tool somehow is looking at another processing extent.

When @nfeuerstein and I ran it, we ran it on Default and got the cutoff results. We forced the geoprocessing extent to change by specifying something different/specific_(not the ideal workflow, but a workaround)_.

When you ran it,

[2017-12-12 21:58] elinz commented on #242
@topowright @joebayles @nfeuerstein According to the environment doc shown above, if you are using the default extent, then the tool will determine the processing extent. Seems like the core gp tool that is executed is not calculating this correctly. Definitely something to talk to the gp team about. We may need to be proactive here and calculate what the extent produced by the tool should be and

[2017-12-12 22:05] topowright commented on #248
I fully think this is an issue, but it is also a issue on 10.5.1. I am going to double check on 10.3.1

[2017-12-13 05:19] topowright commented on #248
I have double checked this exact workflow that @BobBooth found in 10.3.1 and it works just fine. Reaching out to the core person who deals with projections was not sure what this issue was. I have sent a issue to the sp-arcmap and I am waiting to see what comes of it.

[2017-12-13 16:06] lfunkhouser commented on #250
@BobBooth Please update the issue to include your environment. Also further dig into this to see what version or build this was introduced as an issue.

[2017-12-13 16:13] BobBooth commented on #250
@lfunkhouser - issue updated. I will give it a try on an earlier version of Pro.

[2017-12-14 19:52] csmoore commented on #248
@topowright - I added the location of the prebuilt SDK sample/addin to [the SDK sample repro steps above](https://github.com/Esri/visibility-addin-dotnet/issues/248#issuecomment-350102576)

[2017-12-14 20:50] BobBooth commented on #250
@lfunkhouser  The RLOS runs in Pro 1.4.0 in 3D view. I do note that I'm seeing the clipped edges of the RLOS output in this case.
![image](https://user-images.githubusercontent.com/3801392/34013655-5d784462-e0e6-11e7-8da0-86b68bdeb9e6.png)
@topowright  @csmoore

[2017-12-14 23:35] topowright commented on #250
@BobBooth good catch that issue has been repoened in the following issue:

https://github.com/Esri/visibility-addin-dotnet/issues/242

[2017-12-15 09:11] topowright opened #252 "Transfer labels"
_From @topowright on December 15, 2017 9:8_

## Context

## Problem, Idea, or Engagement

## Possible solution or next step

_Copied from original issue: ArcGIS/solutions-defense#532_

[2017-12-15 09:11] topowright commented on #252
This issue was moved to Esri/coordinate-conversion-addin-dotnet#462

[2017-12-15 09:11] topowright commented on #252
This issue was moved to Esri/distance-direction-addin-dotnet#481

[2017-12-15 09:45] topowright commented on #47
This have been implemented in the current release of Military Tools 2.0

[2017-12-15 09:51] topowright commented on #114
This is still an issue in current build; however, we do tell the user that it is not a good coordinate:

![image](https://user-images.githubusercontent.com/5488313/34036566-77d939fc-e13a-11e7-8f00-5dba7dd2ce98.png)

[2017-12-15 10:03] topowright commented on #147
I have been able to verify that we support a mosaic dataset that is in a spatial reference of PCS, which is not the way that most users store their data.  This can be closed.

[2017-12-15 10:04] topowright commented on #147
Verified on ArcGIS Pro 2.0 and Military Tools 2.0. This was tested using our test data with a elevation surface projected to UTM Zone 10

[2017-12-15 10:12] topowright commented on #223
I have verified that this was fixed in Military Tools for ArcGIS 1.1, which was released in June 2017

[2017-12-15 10:21] topowright commented on #243
@dfoll If we do this doc update in Jan, but do not release until Feb will this doc become available before the release of the tool?

[2017-12-15 10:23] topowright commented on #216
I believe we should add a radio box that gives the user choice.

Classic Viewshed (just green and red)
Viewshed by multiple observers (What can be seen by multiple observers; current output)

[2017-12-15 10:35] topowright commented on #217
Here is the code that was used for Coordinate Conversion.
https://github.com/Esri/coordinate-conversion-addin-dotnet/commit/22fad093d63e196d51497ed57dc1bf8b44097c98

[2017-12-15 11:04] topowright opened #253 "Update the properties and map point button to support dark theme like DD"
Current buttons :

![image](https://user-images.githubusercontent.com/5488313/34039543-b818d2e8-e144-11e7-9751-4a47fa2f3250.png)

[2017-12-15 17:19] #147 closed

[2017-12-15 17:26] #47 closed

[2017-12-19 18:27] topowright commented on #243
We need to figure out how to tackle this problem based on the knowledge that @dfoll has been instructed.

Possible solution could be a link to the documentation on how to conduct a certain step from the prerequisites. This still will not fix the issues of having links in the offline documentation.

[2017-12-19 22:26] lfunkhouser commented on #223
@topowright This issue was reported on Military Tools for ArcGIS 2.0 - was it an issue at 1.0, fixed at 1.1 but reintroduced at 2.0?

[2017-12-20 13:44] csmoore commented on #223
I wasn't aware of us fixing this until #246 - https://github.com/Esri/visibility-addin-dotnet/pull/246/files - I wasn't aware there was an open issue associated with this, so sorry for not linking to this in the PR

[2017-12-21 08:39] topowright commented on #223
@joebayles the issue was a typo where we were missing the er in the word outer.
@lfunkhouser the issue is present in 1.1 and 2.0. My mistake on the comment above. The issue has been fixed based on the pull request referenced by @csmoore above.

[2017-12-21 17:16] #223 closed

[2017-12-27 21:34] #252 closed

[2017-12-29 21:33] lfunkhouser commented on #223
Comment to support: This is verified as fixed and will be fixed in the next release of Visibility and Military Tools for ArcGIS.

[2018-01-02 18:15] topowright commented on #253
This issue is to focus only on the map point tool button and the properties button

[2018-01-03 16:52] csmoore commented on #253
Addressed in #254

Now looks like (Dark vs. Light theme):

![image](https://user-images.githubusercontent.com/3090809/34530238-823d7286-f07c-11e7-965d-b9737c7cb077.png)

![image](https://user-images.githubusercontent.com/3090809/34530253-882995c6-f07c-11e7-9e5b-fe9ae85cf283.png)

[2018-01-03 19:19] dfoll commented on #247
(in progress)
- [ ] removed G-QA Create (Checklist) updated checklist test/no updates needed
**Verified fixed in 10.6** using our build 1649
- [ ] ran through the explicit repro steps
- [ ] ran through the Viz portion of the checklist test (removing G-QA Verify (Checklist) label

[2018-01-04 16:44] topowright commented on #253
Pull request was reviewed and merged by @kgonzago. The issue has been fixed and verified.

[2018-01-04 16:54] BobBooth commented on #242
I reached out to the raster team, am emailing with Xuguang Wang, trying to get their ideas.

[2018-01-04 20:58] topowright commented on #217
We are going to tackle Military Tools for ArcGIS first before this issue. After this it should be very clear on what to do on this issue.

[2018-01-04 21:11] #253 closed

[2018-01-05 19:29] lfunkhouser commented on #242
This issue is not consistency reproduced. We are going to keep this issue open to capture the follow up with the Raster team and bring it in when it is understood.

[2018-01-09 20:41] BobBooth commented on #250
Xuguang said:
"...
Not sure how your mask feature class is created under the hood, but please check if the spatial references of the observer points, raster surface, and the mask feature class are all the same when the mask is created and when the visibility calculation happens.

In this case, actually a mask might not be needed. You could set a outer radius when executing the Visibility tool and

[2018-01-09 20:45] BobBooth commented on #242
Not sure how your mask feature class is created under the hood, but please check if the spatial references of the observer points, raster surface, and the mask feature class are all the same when the mask is created and when the visibility calculation happens.

In this case, actually a mask might not be needed. You could set a outer radius when executing the Visibility tool and achieve similar res

[2018-01-09 21:24] BobBooth commented on #250
I am now seeing the output being created, but the RLOS circles are being clipped.
When one point is used, both sides get clipped.
![image](https://user-images.githubusercontent.com/3801392/34743852-46905712-f559-11e7-9b98-d7745b64ca67.png)

When multiple points are used, it looks as though the two outermost get clipped.
![image](https://user-images.githubusercontent.com/3801392/34743839-3c23f194-f

[2018-01-10 22:22] topowright commented on #226
Verified :
![image](https://user-images.githubusercontent.com/5488313/34798619-a7862b92-f611-11e7-9dad-f56515bdb301.png)

[2018-01-10 22:28] topowright commented on #222
I have verified this works

[2018-01-11 17:06] #222 closed

[2018-01-24 18:42] BobBooth commented on #231
This is like the case outlined here:
https://github.com/Esri/visibility-addin-dotnet/issues/194
Still think this is important.

[2018-01-24 18:52] BobBooth commented on #250
Maybe we should detect Web Mercator and other projected but not suitable for analysis coordinate systems and warn the user?

[2018-01-24 21:03] topowright commented on #242
@BobBooth have you looked into any of the things that Xuguang has pointed out might be an issue?

[2018-01-24 21:14] BobBooth commented on #242
@topowright - I looked at the code, but from what I could tell, it was inheriting the spatial reference from the surface. I would like for a dev to look into this further.
@csmoore  @adgiles @kgonzago

[2018-01-24 22:02] csmoore commented on #242
The Spatial References should all be the same (For Map, Surface, Points, Mask)

Just curious if this issue is only occurring when RLOS is 360°?  Or if it be replicated in the GP tools?

[2018-01-25 09:07] topowright commented on #242
I have now found the processes to reporduce this error.

1. Start with a new project with a map
2. Bring in a set of data that is not projected
3. Try and run the Vis RLOS tool and you will get the error of the data not being projected.
4. Add another elevation layer that is projected and you try to run the tool, but first make sure to clear the points in the RLOS tool.
5. The results will return

[2018-01-25 09:08] topowright commented on #242
@csmoore I think now that i have the workflow on how to reproduce I can try it in ArcGIS Pro using the GP Tools.

[2018-01-26 23:59] topowright commented on #161
Updates addressed in PR:
https://github.com/Esri/visibility-addin-dotnet/pull/255

I was not able to remove the all other values from the LLOS_Observers
![image](https://user-images.githubusercontent.com/5488313/35465584-e7217fb6-02b1-11e8-8017-3f0a5f1c922f.png)

[2018-01-27 00:01] topowright commented on #161
This needs to be verified once PR #255 is merged.  @dfoll @ACueva

[2018-01-27 00:36] topowright commented on #231
@lfunkhouser @dfoll @ACueva I feel like we should close this and show all the work in the issue that came in from support #194.

I think we should calculate based on the extent based on the information put in by the user. The challenge is when a user selects two areas that are not close to each other, but are still small request areas.

[2018-01-27 00:36] topowright commented on #194
I think we should calculate based on the extent based on the information put in by the user. The challenge is when a user selects two areas that are not close to each other, but are still small request areas.

[2018-01-27 00:37] topowright commented on #194
This would be a great candidate to create a unit test for.

[2018-01-27 00:44] topowright commented on #160
Thinking about this issue further we are asking the users to have the inputted data in a PCS, which means they would be dealing with meters most of the time. I am not sure if this makes sense. to do. @ACueva or @dfoll what are your thoughts on this issue?

[2018-01-27 00:50] topowright commented on #194
This is the image service that I tested against:
http://lidar.geodata.md.gov/imap/rest/services/Allegany/MD_allegany_dem_m/ImageServer

[2018-01-27 00:51] topowright commented on #160
This is a duplicate issue:
https://github.com/Esri/visibility-addin-dotnet/issues/122

[2018-01-27 00:51] #160 closed

[2018-01-27 00:52] topowright commented on #122
@dfoll and @ACueva do you think we need this?

[2018-01-27 00:52] topowright commented on #121
@csmoore what would the level of effort be to add the same progress bar that is used in LLOS?

[2018-01-27 00:55] topowright commented on #247
@dfoll can this be closed?

[2018-01-27 00:56] topowright commented on #227
I agree with @adgiles on this one. I do not think this is a need for the widget at this point. I think this should be closed.

[2018-01-27 00:56] topowright commented on #227
@dfoll and @ACueva

[2018-01-27 01:12] topowright commented on #120
@csmoore what would be the level of effort for this?

[2018-01-29 13:07] csmoore commented on #121
@topowright added estimate - this estimate included trying to figure out why the progress doesn't work/show sometimes in RLOS

[2018-01-30 03:02] topowright commented on #251
This is due to projections of the source data being in different spatial references.

[2018-01-30 03:03] topowright commented on #161
This is now ready to be verified.

[2018-01-30 05:47] topowright opened #256 "Dark Theme support"
These are the missing items for dark theme support
- [ ] Properties dialog box for Save as
- [ ] Save as button
- [ ] Cancel button
![image](https://user-images.githubusercontent.com/5488313/35550135-f50f504c-053d-11e8-8b81-e87a73e30ec6.png)

[2018-01-31 05:04] topowright commented on #194
Thinking about this further we need to understand the cost of the clip. Does it make sense to have each iteration clip the raster or one large clip. This has been tested with image services, but we need to test this on a large mosaic dataset.

[2018-01-31 05:05] topowright commented on #122
@dfoll and @ACueva do you think we need this?

[2018-01-31 05:06] topowright commented on #121
@csmoore I have not experienced the bar not showing in RLOS. Is this behavior in ArcMap and ArcGIS Pro?

[2018-01-31 08:34] adgiles opened #257 "Run jshint automated code review on widget code"
### Run jshint code review on widget code
Before we put code into devtopia we have to run jshint under the root directory to automate code review and then fix the discrepancies that are found. This is step 3 from the Web AppBuilder Contribution Workflow.

_3.	Run the jshint under the root directory to automate code review. You can use ‘npm install jshint@v2.3.3 –g’ to install the jshint._

Discrep

[2018-01-31 13:42] adgiles commented on #257
Addressed in PR https://github.com/Esri/visibility-addin-dotnet/pull/258

[2018-01-31 15:50] topowright commented on #257
@adgiles thank you for the quick turn around. I will get this submitted today and wait to hear what feedback we receive.

[2018-01-31 22:54] topowright commented on #217
Using this issue to build the Jenkins process for creating the final zip and conducting the code changes for the build process:
- [ ] Documentation for ArcMap
- [ ] Documentation for ArcGIS Pro
- [ ] Move internet shortcut and readme.txt to solutions site
- [ ] Build ArcGIS Pro 2.1
- [ ] Build ArcMap 10.3.1

[2018-02-02 16:50] topowright commented on #217
The way forward on this issue is completely understood and possible. My challenge is our logic will not work until MSBuild is put in the path directory . Once that is done we will know if we are able to build the solutions inside of a pipeline script

[2018-02-02 17:33] #231 closed

[2018-02-02 17:34] topowright commented on #194
We also need to understand how LLOS and RLOS are conducting the analysis. @BobBooth and @csmoore  are experiencing the same thing I am, which is one is faster than the other.

[2018-02-02 17:34] topowright commented on #194
RLOS is the slower one.

[2018-02-03 09:55] topowright commented on #217
This has been completed and was done with the entire build process in the pipeline script.

[2018-02-05 15:13] topowright commented on #256
@csmoore  where are we on this task? Can you give an update being that this has been in progress for a couple of days with no comments.

[2018-02-05 15:22] csmoore commented on #256
This task is progressing, code was moved from library project into the Pro project and is running in branch: https://github.com/Esri/visibility-addin-dotnet/tree/csm/%23256-dark-theme-redesign

Remaining things to do:

1. Test for errors
2. Fix the Simple Buttons
3. Fix the settings window

So hopefully this will be done today. Here is how it looks now (buttons still need fixed `#2 above`):

![ima

[2018-02-06 19:19] csmoore commented on #256
Just a status update, this is working as intended now in branch: https://github.com/Esri/visibility-addin-dotnet/tree/csm/%23256-dark-theme-redesign

Before submitting a PR to dev, I'm just going to spend a little time to see if something similar could have been done without forking the code in the common library

![image](https://user-images.githubusercontent.com/3090809/35877465-55131694-0b43-11

[2018-02-06 22:36] #217 closed

[2018-02-07 14:18] csmoore commented on #256
Just to update the current status - the plan is to spend some time (timeboxed 1.5 days) looking at 2 approaches:

1. Forking all of the code from VisibilityLibrary and adding to the ProAppVisibilityModule project - in branches/changes: https://github.com/Esri/visibility-addin-dotnet/compare/csm/%23256-dark-theme-redesign

2. Just setting the buttons to transparent (which was also the only solution

[2018-02-08 09:26] adgiles opened #260 "Visibility Addin does not accept a Web Scene or Scene Layer as Input Surface"
Currently the addin does not support Web Scenes or Scene layers as an input surface. For example if I add the Pictometry 3D Scene from the Living Atlas>3D Cities, the input surface dropdown remains blank:

![1](https://user-images.githubusercontent.com/3740334/35965089-a97cba86-0cb1-11e8-86f7-f83cb076aeff.png)

The Interactive Analysis tools (under 3d Exploratory Analysis) work against these layer

[2018-02-08 17:48] csmoore commented on #256
After looking at this, we were able to go with Option `#2` [above](https://github.com/Esri/visibility-addin-dotnet/issues/256#issuecomment-363782500) - addressed in PR #261

Should be ready to QA/QC/test after review/merge

[2018-02-13 16:20] kgonzago commented on #116
Picking this up since it is similar to this [issue](https://github.com/Esri/distance-direction-addin-dotnet/issues/217)

[2018-02-13 20:32] topowright commented on #256
Linking these issues as they are the exact same problem:
https://github.com/Esri/distance-direction-addin-dotnet/issues/482

![image](https://user-images.githubusercontent.com/5488313/36172180-ea6c25f2-10b9-11e8-82a0-aca36f015d22.png)

[2018-02-13 20:36] kgonzago commented on #116
Fixed with #264 PR

[2018-02-13 20:37] kgonzago commented on #117
Fixed in #264 PR

[2018-02-13 20:42] kgonzago commented on #115
Addressed in #264 PR

[2018-02-14 01:28] #256 closed

[2018-02-14 06:48] topowright opened #265 "Visibility Add-in does not populating into the list"
Using the current build: 30 as of Feb 13th the add-in does not populate anything to the lists on either LLOS or RLOS. The tools seem to work, but the locations do not add to the list:
![image](https://user-images.githubusercontent.com/5488313/36190988-fded8e80-110f-11e8-8080-95f4f52b4819.png)

[2018-02-14 06:48] topowright commented on #265
![image](https://user-images.githubusercontent.com/5488313/36191002-0c1f99a8-1110-11e8-8698-b506355a916c.png)

[2018-02-14 06:50] topowright commented on #117
I am not able to verify this due to this issue:
https://github.com/Esri/visibility-addin-dotnet/issues/265

[2018-02-14 06:50] topowright commented on #115
I am not able to verify this due to this issue:
https://github.com/Esri/visibility-addin-dotnet/issues/265

[2018-02-14 06:50] topowright commented on #116
I am not able to verify this due to this issue:
https://github.com/Esri/visibility-addin-dotnet/issues/265

[2018-02-14 14:03] csmoore commented on #265
I can reproduce this on **a clean install**(no saved settings) or when the Display Coordinate is set to the "Default Map Coordinate" - changing the Display Coordinate to something else does make them show up. It looks related to the recent coordinate conversion changes but still investigating...

![image](https://user-images.githubusercontent.com/3090809/36206420-537cbb5a-1160-11e8-895a-c5fadfcf9f

[2018-02-14 17:03] kgonzago commented on #265
@topowright @csmoore `Default Map Unit` is not an option when parsing coordinates. I'll need to update the logic to handle that option.

[2018-02-14 21:18] csmoore opened #266 "Add/Update Build Date when Project built"
Currently when the project is built, the build date is not updated in the DAML/Addin Info shown to the user.

Similar to how the build automated adding the build number in #217 - It would be helpful to have the build update the Build Date so this is always correct :

Example from an addin built today (2/14/18):
![image](https://user-images.githubusercontent.com/3090809/36228329-eef2c84a-11a1-11e8-

[2018-02-15 23:01] topowright commented on #257
This has been done

[2018-02-16 07:12] topowright commented on #266
Not really sure where to look for a standard, but ArcMap and ArcGIS Pro do not do this, which makes me think that we will understand our release dates and Jenkins has the build date. I am not sure if this is needed:
![image](https://user-images.githubusercontent.com/5488313/36297079-a27ec05e-12a5-11e8-9348-ef7a6370611e.png)

[2018-02-16 07:14] topowright opened #267 "Update target version for the add-in"
We need to update the target version to be 2.1 based on the version that we are targeting for this release:
![image](https://user-images.githubusercontent.com/5488313/36297150-f048ca14-12a5-11e8-8b54-768d3335afdc.png)

[2018-02-16 07:45] topowright commented on #266
In ArcMap I think our date is tied to the certificate :
![image](https://user-images.githubusercontent.com/5488313/36297949-4d0f4382-12aa-11e8-9730-e20573066b98.png)

[2018-02-16 13:34] csmoore commented on #266
The dates shown on the add-in manager and elsewhere for the addins come from [config.daml](https://github.com/Esri/visibility-addin-dotnet/blob/dev/source/addins/ProAppVisibilityModule/Config.daml#L8) (Pro) and [Config.esriaddinx](https://github.com/Esri/visibility-addin-dotnet/blob/dev/source/addins/ArcMapAddinVisibility/Config.esriaddinx#L9) (ArcMap) - but if there is a compelling reason to cont

[2018-02-16 16:09] kgonzago commented on #265
This issue affects all of our addins that reference CC library. It was fixed in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/478)

[2018-02-16 16:11] kgonzago commented on #115
Will be able to verify now since issue was fixed in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/478).

[2018-02-16 16:11] kgonzago commented on #116
Will be able to verify now since issue was fixed in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/478).

[2018-02-16 16:12] kgonzago commented on #117
Will be able to verify now since issue was fixed in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/478).

[2018-02-16 17:27] #257 closed

[2018-02-20 11:17] adgiles opened #268 "Allow observer location to be set via feature actions"
Enhancement

A Feature action could be added to the widget to allow the input for the observer location to be set from existing features on the map. This will automatically open the widget if closed and set the observer location to the coordinates of the feature used.

![capture](https://user-images.githubusercontent.com/3740334/36421223-98d90568-162f-11e8-8bb8-b712e99762d0.PNG)

https://developer

[2018-02-20 17:11] csmoore commented on #266
@topowright @lfunkhouser - while working on https://github.com/Esri/distance-direction-addin-dotnet/issues/499 - I could also add/update the date - just let me know if this is not desired.

[2018-02-22 17:33] dfoll opened #269 "Text for inputs in the add-in"

[2018-02-22 17:45] kgonzago opened #270 "Inital Commit for the new Visibility widget"
<a href="https://devtopia.esri.com/lyle6003"><img src="https://devtopia.esri.com/avatars/u/1568?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [lyle6003](https://devtopia.esri.com/lyle6003)**
_Tuesday Feb 06, 2018 at 16:11 GMT_
_Originally opened as https://devtopia.esri.com/WebGIS/arcgis-webappbuilder/pull/11759_

----

@Juns6831 this is the initial commit for the Visibil

[2018-02-22 17:45] kgonzago commented on #270
<a href="https://devtopia.esri.com/Juns6831"><img src="https://devtopia.esri.com/avatars/u/289?" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Juns6831](https://devtopia.esri.com/Juns6831)**
_Wednesday Feb 07, 2018 at 01:17 GMT_

----

This widget includes some python and gdb files, can you remove them from the widget if they are not required when run the widget? The wid

[2018-02-22 17:45] kgonzago commented on #270
<a href="https://devtopia.esri.com/lyle6003"><img src="https://devtopia.esri.com/avatars/u/1568?" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lyle6003](https://devtopia.esri.com/lyle6003)**
_Wednesday Feb 14, 2018 at 10:40 GMT_

----

The un  necessary files for this workflow have been removed.

[2018-02-22 17:45] kgonzago commented on #270
<a href="https://devtopia.esri.com/lyle6003"><img src="https://devtopia.esri.com/avatars/u/1568?" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lyle6003](https://devtopia.esri.com/lyle6003)**
_Friday Feb 16, 2018 at 17:00 GMT_

----

@Juns6831 We have submitted all code changes and things asked per the review meeting. Please let us know what the next step we need to take

[2018-02-22 17:45] kgonzago commented on #270
<a href="https://devtopia.esri.com/Juns6831"><img src="https://devtopia.esri.com/avatars/u/289?" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Juns6831](https://devtopia.esri.com/Juns6831)**
_Thursday Feb 22, 2018 at 01:32 GMT_

----

You'd better not use `${nls.abc}` in `data-dojo-props` in HTML template because this may break in some languages.

[2018-02-22 17:45] kgonzago commented on #270
<a href="https://devtopia.esri.com/Juns6831"><img src="https://devtopia.esri.com/avatars/u/289?" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Juns6831](https://devtopia.esri.com/Juns6831)**
_Thursday Feb 22, 2018 at 01:34 GMT_

----

Found you use jquery in your widget, and there is a jquery in stemapp/libs, can you check whether you can use it? If you use the lib in st

[2018-02-22 17:48] kgonzago commented on #270
@adgiles beijing dev team provided comments on the visibility widget commit. Correct me if I'm wrong, but didn't you address the jquery issue?

[2018-02-22 17:52] adgiles commented on #270
yes I think so

[2018-02-22 18:17] kgonzago commented on #270
I confirmed @adgiles did address these issues in this repo but changes have not been moved to Devtopia.

@dfoll @topowright @ACueva Can you push the latest changes for the Visibility widget to this existing [PR](https://devtopia.esri.com/WebGIS/arcgis-webappbuilder/pull/11759)?

[2018-02-22 22:57] dfoll commented on #269
I set up a placeholder to log an issue I was seeing where no text was appearing in the list boxes for LLOS and RLOS pane, but when I started to write the repro steps, I couldn't repro.

[2018-02-22 22:57] #269 closed

[2018-02-23 13:21] csmoore commented on #269
@dfoll - we did have a very similar issue 10 days ago (related to CC changes):

https://github.com/Esri/visibility-addin-dotnet/issues/265 - https://github.com/Esri/visibility-addin-dotnet/issues/265#issuecomment-365616204

So hopefully it was just an issue with having a slightly older build

[2018-02-26 16:55] topowright commented on #270
I will take a look at this today. Talking with @adgiles this morning I think I know what needs to be done. I might need help from from either @kgonzago or @adgiles this morning just to make sure nothing is missed.

[2018-02-26 17:54] kgonzago commented on #116
Changes to CC library affected this Long/Lat issue. Moving this back to `In Progress`

[2018-02-26 18:05] topowright commented on #270
The files related to the gdb and the python script have been removed.

[2018-02-26 18:07] topowright opened #272 "Feedback from Dev about the Visibility widget"
In pull request #11759 from devtopia the following questions were asked

[2018-02-26 18:10] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687041-3cb5a522-1add-11e8-8f24-3bc7eb53b630.png)

[2018-02-26 18:10] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687070-510991b4-1add-11e8-80f5-368856d87a46.png)

[2018-02-26 18:11] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687103-6680e696-1add-11e8-94a6-706e24f84da6.png)

[2018-02-26 18:12] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687121-7b5c0da2-1add-11e8-86c0-6688a0ece9cd.png)

[2018-02-26 18:13] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687166-a94fd8c4-1add-11e8-8d94-1d45f926309d.png)

[2018-02-26 18:13] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687189-bc8b0eb8-1add-11e8-800b-f965562a5826.png)

[2018-02-26 18:14] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687228-d67b1336-1add-11e8-8e1b-0329dbef2994.png)

[2018-02-26 18:15] topowright commented on #272
![image](https://user-images.githubusercontent.com/5488313/36687257-e820a52e-1add-11e8-96b4-3fd24752ccf3.png)

[2018-02-26 18:15] topowright commented on #272
You'd better not use ${nls.abc} in data-dojo-props in HTML template because this may break in some languages.

[2018-02-26 18:15] topowright commented on #272
ound you use jquery in your widget, and there is a jquery in stemapp/libs, can you check whether you can use it? If you use the lib in stemapp, your widget will be more lightweight.

[2018-02-26 18:16] topowright commented on #270
@kgonzago I have opened a new issue that addresses the statements from the Dev team for the items that I think have not been addressed.
https://github.com/Esri/visibility-addin-dotnet/issues/272

If this is already done then apologies for the mixup.

[2018-02-26 18:18] topowright commented on #270
Trying to close this issue and issue #272. If I am missing something please let me know.

[2018-02-26 18:45] topowright commented on #270
This issue has been addressed with the most recent updates to the PR on Devtopia.

[2018-02-26 18:45] topowright commented on #272
This issue has been addressed with the most recent updates to the PR on Devtopia.

[2018-02-26 18:52] kgonzago commented on #116
Needs verification. Re-opening issue.

[2018-02-26 21:16] topowright commented on #270
This work has been finsihed and pushed into WAB DE repo.

[2018-02-26 23:49] ACueva opened #273 "Unable to paste values into Observer or Target Points text boxes (external sources)"
Environment tested on:
ArcMap 10.6
Visibility addin- build 109

Steps to reproduce:
1.  Add an Elevation source. (I utilized SRTM data from \\DATASERVER\data\FoundationOverlays\Elevation\MosaicDatasets}
2. Open Visibility addin
3. Attempt to paste: 116.948W 34.73N
 into either the Observer Points or Target Points field.
  - Note it's not accepting the pasted values
4. Type the following (manually)

[2018-02-26 23:58] ACueva commented on #114
Found issue related to cut and pasting text into the addin. https://github.com/Esri/visibility-addin-dotnet/issues/273

[2018-02-27 00:02] ACueva commented on #114
Verified the Observer and Target Points accept both lat/long and long/lat.  Tested this by manually typing in coordinates.

[2018-02-27 00:10] ACueva commented on #114
CMS needs to be reviewed to see if this issue is a "known issue" and or needs the appropriate labels for "Issues addressed" section.

[2018-02-27 19:08] csmoore commented on #248
@topowright @ACueva @dfoll - are you able to check with SDK folks to see if this issue (Graphic Elements do not reproject if data frame projection is changed in ArcMap 10.5+) to see if it is being tracked and provide an issue/bug `#`.

The traffic on this particular issue is a bit confusing, but the main point is that this is a problem in the SDK that can be [reproduced using the SDK samples as me

[2018-02-27 19:15] BobBooth commented on #248
Another manifestation of the problem can be seen in https://github.com/Esri/distance-direction-addin-dotnet/issues/527

[2018-02-28 08:52] adgiles commented on #270
@topowright The Visibility widget is now showing in the daily build

[2018-02-28 14:38] #272 closed

[2018-03-01 15:43] csmoore commented on #267
Addressed in #274

[2018-03-01 18:57] topowright commented on #267
Being that you just fixed this I am pulling this into this sprint to verify.

[2018-03-01 19:01] topowright commented on #267
![image](https://user-images.githubusercontent.com/5488313/36863928-ef740834-1d3f-11e8-9bae-9060ee5bfd62.png)

[2018-03-01 19:10] topowright commented on #248
@BobBooth please explain your last comment. I am not sure how they are related.

[2018-03-01 19:16] BobBooth commented on #248
@topowright - it seems to be that the underlying problem in this issue and in https://github.com/Esri/distance-direction-addin-dotnet/issues/527 is the same - the add-in hangs on to the previous coordinate system when you change the coordinate system. This results in incorrect output. DD lines and Viz LLOS lines are both affected.

[2018-03-01 21:50] topowright commented on #194
Added information to the first part of this issue. We need to change the RLOS workflow to mimic the LLOS workflow if that is not the case.

[2018-03-01 22:07] topowright commented on #243
This information has been moved to WAB and this issue can be closed.

[2018-03-01 22:08] topowright commented on #243
I need clarity on what labels we are going to use to allow this issue to be closed.

[2018-03-01 22:15] topowright commented on #266
@dfoll @ACueva I think there was a conversation that happened with this issue last week while I was out. What was the outcome?

[2018-03-01 22:18] lfunkhouser commented on #243
@topowright It's a "won't fix" here. The user will get this documentation with WAB.

[2018-03-01 22:21] topowright commented on #242
Running thru certification testing I have verfired that this is still and issue in ArcGIS Pro 2.2:
![image](https://user-images.githubusercontent.com/5488313/36872943-d5c0aca0-1d5b-11e8-9182-7e9dd00467c8.png)

[2018-03-01 22:40] lfunkhouser commented on #266
The date should be as close to release as possible and should be updated through the .daml and based off the expected release date per the Solutions Website wiki.

[2018-03-01 23:07] topowright commented on #216
The initial comment in this issue has been updated to reflect the feature requested. @dfoll @ACueva and @lfunkhouser

[2018-03-02 12:24] csmoore commented on #266
It sounds like the decision is to update the date (in the daml/config/addin files) manually so this issue/idea can be closed.

[2018-03-02 19:14] kgonzago opened #276 "UI Change needed for Viz Widget"
Using the UI reviews from D&D, ERG, and GRG widgets, we need to make the necessary changes to the visibility widget to align it with the UI standards set by WAB team.

[2018-03-02 19:15] kgonzago commented on #276
@adgiles completed this task and a [PR](https://devtopia.esri.com/WebGIS/arcgis-webappbuilder/pull/11996) containing those changes was submitted in Devtopia

[2018-03-02 19:16] kgonzago commented on #276
The UI changes are being tracked in this [branch](https://github.com/Esri/visibility-addin-dotnet/tree/ag-UI-%26-CSS-Updates)

[2018-03-05 16:46] csmoore commented on #233
This task is in progress with about 40% of high-priority SCA issues addressed in branch https://github.com/Esri/visibility-addin-dotnet/tree/csm/%23233-null-dereference

[2018-03-06 19:05] csmoore commented on #234
These didn't show up in SCA report for visibility for some reason but addressed

[2018-03-06 19:11] csmoore commented on #240
Done, implementation was slightly different for serializers:

[code]

[2018-03-06 19:28] csmoore commented on #239
Didn't see any instances of this (or see in report) so may have already been addressed

[2018-03-07 16:08] csmoore commented on #233
Addressed in PR #277

For simplicity, moving the other SCA Issues to done:  #234 #235 #236 #237 #238 #239 #240 #241 ( https://github.com/Esri/visibility-addin-dotnet/labels/T-SCA )

And these issues can be verified here with this one.

Additional/Important Note: only "Null Dereference" ( #233) and "Unreleased Resource: Streams" (#240) showed up in the Fortify Report for Visibility so the remaining

[2018-03-07 16:10] csmoore commented on #241
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-07 16:10] csmoore commented on #240
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-07 16:11] csmoore commented on #239
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-07 16:11] csmoore commented on #238
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

Note: this was not in report, but did find instances of

[2018-03-07 16:12] csmoore commented on #237
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-07 16:12] csmoore commented on #236
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-07 16:13] csmoore commented on #235
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-07 16:13] csmoore commented on #234
Moving to done, will be QA/QC'd with #233 - see: https://github.com/Esri/visibility-addin-dotnet/issues/233#issuecomment-371189091

[2018-03-20 20:09] garys-esri commented on #226
Did you try actually running the widget though? It treats the observer height as kilometers unless I change it in the dropdown.

By the way, when I go to change it in the dropdown, it suddenly switches from Meters to Kilometers:

![visibility-widget-bug](https://user-images.githubusercontent.com/3091666/37679932-c948a840-2c58-11e8-88e8-7a0b753ce40e.gif)

I do not see this behavior in your sample a

[2018-03-21 14:37] garys-esri commented on #226
This is easily reproduced in plain old Dojo outside of Web AppBuilder:

https://jsfiddle.net/m6ts0wq6/30/

The fix is to clone the `options` object before giving it to the second select:

https://jsfiddle.net/m6ts0wq6/31/

I recommend re-opening this issue, since it was not fully resolved previously. I will submit a pull request shortly that fixes it.

[2018-03-21 15:12] garys-esri commented on #226
Pull request #278 fixes this bug.

[2018-03-21 19:25] lfunkhouser commented on #226
Thanks @garys-esri - I'm Reopening the issue.

@kgonzago please do a thorough review to understand the issue and comment on the details of the out-of-sync behavior @garys-esri is experiencing between what is released, what is in GitHub and what is in the sample app. Add comments to the PR upon merging for clarity.

[2018-03-28 06:06] #267 closed

[2018-03-28 06:07] #276 closed

[2018-03-28 06:08] #241 closed

[2018-03-28 06:08] #234 closed

[2018-03-28 06:08] #235 closed

[2018-03-28 06:08] #236 closed

[2018-03-28 06:08] #237 closed

[2018-03-28 06:08] #238 closed

[2018-03-28 06:08] #239 closed

[2018-03-28 06:08] #240 closed

[2018-03-28 14:40] #243 closed

[2018-03-28 14:40] #227 closed

[2018-04-03 07:15] lfunkhouser opened #279 "Use a spreadsheet (csv) of values as inputs"
Currently the add-in takes inputs from keyboard and map point tool. This added functionality would allow a user to input values from a spreadsheet or text file.

- [x] updated symbology to display points that are outside the elevation extent @CTLocalGovTeam
- [x] Update applicable workflow topics
   - [x] Create linear line of sight - @dfoll
   - [x] Create radial line of sight - @dfoll
- [ ] ~Upd

[2018-04-03 17:50] csmoore commented on #265
Testing with latest dev branch, looks fixed to me - adding QA labels

![image](https://user-images.githubusercontent.com/3090809/38266099-c03f0de6-3745-11e8-931f-d082d07bd417.png)

[2018-04-13 13:08] #251 closed

[2018-05-23 22:26] topowright commented on #122
Spoke to @dfoll about this and this is something that he feels that we still need this.

[2018-05-23 22:37] topowright opened #280 "Visibility Add-in holding on to previous data frame settings"
[code]

[2018-05-30 14:53] topowright opened #281 "Store LLOS and RLOS results in a organized fashion"
#### Background
Currently we store all analysis results as a featureclass in the root level of the database. We also add all layers in the ToC.

#### Expected Results
Each Analysis result would be stored in a FeatureData Set marked LLOS_1 or RLOS_1. The 1 represents the number that was ran in that ArcMap or ArcGIS Pro session.
Layers should be added to the Table of Contents (ToC) inside a group la

[2018-06-13 15:33] lfunkhouser commented on #247
@dfoll @topowright Is this verified? Verified label was added but no confirmation that it was verified.

[2018-06-13 15:47] dfoll commented on #247
i was testing this issue as it (we eventually found out) pertained to [distance and direction](https://github.com/Esri/distance-direction-addin-dotnet/issues/589) and was not experiencing that any of the three add-in windows were causing a crash upon re-opening, but we can put some time into looking into this issue specifically if you want.

[2018-06-13 17:49] topowright commented on #216
We need to add an option to allow the user to control if they want to see multiple observer areas or just the simple red and green output even though they have multiple observers.

[2018-06-13 20:48] BobBooth commented on #114
This is (still) working in ArcMap 10.3.1 MT v3 build 40
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/bd4adc68-75f4-4e6b-ad38-3b4a795a3121)

[2018-06-13 21:11] BobBooth commented on #114
This was listed as a known issue, so it should be added to the Visibility issues fixed list.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/1067bd18-7be3-443f-8a80-d22448d5e444)

It works correctly in the stand-along Visibility add-in as well.
Works with Visibility stand-alone addin, ArcMap 10.3.1 and build 119 6/13/18

[2018-06-13 21:16] BobBooth commented on #115
This is working correctly in ArcMap 10.3.1 MT 3 and Visibility add-in stand-alone build 119 (6/13/18).
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/f8c52086-18b3-4372-b048-a52dbf759d1f)
Updating Visibility June 18 Release doc.

[2018-06-13 21:32] BobBooth commented on #116
This is working in Pro 2.1 and Visibility Add-in (119) - 6/13/18
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/cedff423-c412-4a5b-a8de-d7ecc75f636f)
Updating CMS doc for Visibility issues addressed.

[2018-06-13 21:38] BobBooth commented on #117
This is fixed in Pro 2.1, Visibility stand alone 119 (6/13/18)
![image](https://user-images.githubusercontent.com/3801392/41379649-81bcfdbc-6f30-11e8-8db8-60892b53d536.png)

Updating CMS what's new for visibility.

[2018-06-14 15:21] dfoll commented on #247
10.3.1 With MT build 42
- Open ArcMap, save.
- Open the CC pane, save.
- Close ArcMap.
- Reopen ArcMap (no crash)
- Close the CC pane, open the DD pane, save.
- Close ArcMap.
- Reopen ArcMap (no crash)
- Close the DD pane, open the Viz pane, save.
- Close ArcMap
- Reopen ArcMap no crash.
- Close Viz pane, open CC pane, save
- Close ArcMap
-Reopen ArcMap (no crash)

[2018-06-14 18:01] topowright commented on #281
if you take a look at https://github.com/Esri/distance-direction-addin-dotnet this addin creates a featureset and group layer upon first use of the tool. This should help you in understanding how to use this feature for visibility.

[2018-06-14 21:52] dfoll commented on #114
- verified functionality works
- verified bullet was added to what's new about long/lat order

[2018-06-14 22:01] dfoll commented on #115
- verified this works
- verified the bullet has been added to what's new about supporting long/lat for input parameters

[2018-06-14 22:12] dfoll commented on #116
verified added to the doc

[2018-06-14 22:20] dfoll commented on #117
verified it is in the doc

[2018-06-16 15:19] topowright commented on #281
This is what the Table of Contents would look like in an organized fashsion. All layers from one run of the LLOS or the RLOS would be placed in a Group:
![image](https://user-images.githubusercontent.com/5488313/41499925-fd2f3f5a-713d-11e8-8345-4eb674e34339.png)

[2018-06-19 16:29] #247 closed

[2018-06-19 16:47] lfunkhouser commented on #280
Adding the bug label.
@topowright Please add additional information to this issue - what version did you find this on. Was it an issue with previous releases?

[2018-06-19 20:28] #117 closed

[2018-06-19 20:28] #116 closed

[2018-06-19 22:53] #115 closed

[2018-06-20 01:53] lfunkhouser commented on #273
@dfoll can you confirm this is no longer an issue in LLOS and RLOS functionality? I believe this is what you used as you demonstrated #116 today.

[2018-06-20 15:31] dfoll commented on #273
I can look at it specifically on 10.6, but yes, in general this is one of the things I showed yesterday

[2018-06-20 16:04] CTLocalGovTeam commented on #279
@topowright Please review the screenshots below and confirm whether we need to add import feature as context menu option or as a button

1. Import option in List box context menu
![import context menu](https://user-images.githubusercontent.com/2959186/41670156-211a0b0c-74d1-11e8-9d20-35b026b3b450.png)

2. Import option as a button
![import button](https://user-images.githubusercontent.com/2959186/

[2018-06-20 17:54] topowright commented on #161
Closing this issue based on the work that has been done to this point.

[2018-06-20 17:54] #161 closed

[2018-06-21 15:49] lfunkhouser commented on #226
FYI: @dfoll @topowright @ACueva
Reopening to ensure testing was done on this issue that was merged by @kgonzago

[2018-06-21 15:56] topowright commented on #226
This is now been tested from our dev branch as of today. This is what is now seen:
![image](https://user-images.githubusercontent.com/5488313/41730588-04cad9c6-7531-11e8-9bf7-7937fc15b610.png)

[2018-06-21 17:10] topowright commented on #226
Looking at this closer it is still an issue. I am able to replicate this in the current release from Dev. @kgonzago am I missing something that you can help me with?

[2018-06-22 06:21] topowright commented on #242
Talking with the pro team it seems like this is something that we have done incorrectly in our implementation and it is not a core problem. Based on that idea I am removing the blocked label.

[2018-06-22 22:06] #273 closed

[2018-06-22 22:10] #233 closed

[2018-06-25 11:51] kgonzago commented on #226
@topowright I can work with you on this.

[2018-06-25 19:00] kgonzago commented on #226
Verified this issue was fixed:
![image](https://user-images.githubusercontent.com/6391826/41869916-860715e0-7888-11e8-9746-6526ea71aab9.png)

[2018-06-29 20:34] BobBooth opened #288 "Visibility dark theme - buttons switch to light version while tools are processing"
On the Visibility Add-In panel, using Dark Theme, I'm seeing the Input Point and Tools buttons being rendered using the light version of the the button *while the tool is actually running* (after you click OK).
It doesn't last long,  but it looks a little strange.
The buttons are dark when not in use, and light-blue highlighted when active, but when you add points and then click OK, the buttons se

[2018-07-02 16:54] #226 closed

[2018-07-05 17:22] topowright opened #289 "Map Point tool and properties buttons state changes during analysis"
#### Issue
When running  analysis for RLOS or LLOS the Map Point Tool and the Properites buttons show as bright white during the processing time.

![image](https://user-images.githubusercontent.com/5488313/42338000-67504114-8056-11e8-8dc8-ad39f58e020c.png)

![image](https://user-images.githubusercontent.com/5488313/42337996-62480b3e-8056-11e8-93d7-ae569537737a.png)

### Steps to reproduce

1. Add

[2018-07-05 17:25] topowright commented on #289
closing this issue being that it was already logged in the following issue:

https://github.com/Esri/visibility-addin-dotnet/issues/288

My mistake

[2018-07-05 17:25] #289 closed

[2018-07-05 17:25] BobBooth commented on #289
Duplicate of
https://github.com/Esri/visibility-addin-dotnet/issues/288

[2018-07-05 17:51] BobBooth opened #290 "LLOS and RLOS fail if run immediately after adding point with Military Symbol Editor"
I'm seeing LLOS and RLOS fail when I have added points to the map using Military Symbol Editor Add to Map functionality.
To repro:
Start a new project.
Add a DEM (I used ElevationUTM_Zone10 from SDTC test data)
Open Military Symbol Editor.
Open Visibility Pane.
Search for a keyword (I used "tank")
Choose a feature (I chose Vehicle : Tank : Heavy)
Add the schema.
Click Symbol tab, set the Identity/

[2018-07-05 17:57] BobBooth commented on #290
@csmoore - this seems to be an issue with the interaction of the two tabs - Military Symbol Editor and Visibility. Looks like an edit session issue, seems to work OK if you click the Edit tab and save edits after adding the military features.

[2018-07-05 18:21] csmoore commented on #290
That is very odd indeed (esp. the "raster NO_DATA" error in the screenshot).

But to address we could prompt the user to Save or Cancels edits whenever the focus is removed from the Symbol Editor tab - this might be a helpful enhancement anyway.

[2018-07-05 18:49] ACueva commented on #290
I can confirm this same work-flow causes the same error for me the first time around.  If I save my edits prior to running the Visibility RLOS tool, the error does not appear.

[2018-07-26 23:32] dfoll commented on #281
"LLOS_Output_[n]" should draw on top of "LLOS_Sight_Lines_[n]". "LLOS_Output_[n]"

[2018-07-26 23:38] dfoll commented on #281
Do not need "All other values" to display for any layer

[2018-07-26 23:39] dfoll commented on #120
This looks like it is working in ArcGIS Pro

[2018-07-27 00:11] dfoll opened #294 "Bad error message when the add-in cannot create the feature dataset"
ArcGIS Pro 2.2

#### Current behavior
When the add-in runs and tries to create a feature class that already exists in the geodatabase, the tool fails. That is expected, however the error the user sees is not very useful. When you run the LLOS tool from the add-in, you a CreateFeatureclass_management error, but it does not explain to the user that it is happening because there is already a feature

[2018-07-27 00:14] dfoll commented on #294
@lfunkhouser @topowright  leaving the pipeline as New Issues. This is a result of the enhancements CT has   done for us, but don't know if we want them to fix this in this delivery or the future.

[2018-07-27 15:38] CTLocalGovTeam commented on #281
@dfoll @topowright We have corrected the order of layers and also removed "All other values" as suggested. We will send these updates in a new pull request soon.

[2018-07-27 16:53] dfoll commented on #172
This is working as I would expect with one exception. The tool does not honor individually selected features from the feature class I use as input.... example ... the tool always tries to run on all features in the feature class used as input and ignores that you have features from that feature class selected. I do not know if this was part of the original design for this functionality or not.

[T

[2018-07-27 22:57] dfoll commented on #281
I do not think we need doc tasks for this

[2018-07-27 23:40] dfoll commented on #172
- do not need to update the home page for Vis or MT because we are only listing new software versions that we support and then directing users to go to the resources page
- doc work is done and ready for review. cms work is already showing on DEV. What's new page will require a build to DEV

[2018-07-27 23:41] dfoll commented on #279
- do not need to update the home page for Vis or MT because we are only listing new software versions that we support and then directing users to go to the resources page
- doc work is done and ready for review. cms work is already showing on DEV. What's new page will require a build to DEV